workflows/Send outreach/cold email using Gmail to new Hubspot contacts.json
{
  "active": false,
  "connections": {
    "Set keys": {
      "main": [
        [
          {
            "node": "Send outreach email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Record engagement in HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every day at 9 am": {
      "main": [
        [
          {
            "node": "Get uncontacted HubSpot contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get uncontacted HubSpot contacts": {
      "main": [
        [
          {
            "node": "Set keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-11T09:09:28.975Z",
  "id": "fH8l4PA3Hj82iI7Q",
  "meta": {
    "templateId": "2112"
  },
  "name": "Send outreach/cold email using Gmail to new Hubspot contacts",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json.properties.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Mutasem from n8n"
        }
      },
      "id": "99d9377f-263b-4deb-8450-6f9ca17d77c7",
      "name": "Send outreach email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1420,
        320
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "notes_last_contacted|datetime",
                    "operator": "NOT_HAS_PROPERTY"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "aa2d7d84-66e1-4df3-9244-9a9182cd2eb7",
      "name": "Get uncontacted HubSpot contacts",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        960,
        540
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "cecf3de5-43d8-4d63-a557-adbd1d7d0e81",
      "name": "Every day at 9 am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        460,
        540
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Search for all contacts that last contact date for is unknown\n\n1. Setup Oauth2 creds using n8n docs\nhttps://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.hubspottrigger/\n\n### Be careful with scopes. Scopes must be exactly as defined in the n8n docs",
        "height": 526.4585335073351,
        "width": 348.2877732355713
      },
      "id": "faa91fac-7a22-440d-8575-a9f6ef858641",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Record outreach in Hubspot\n\nOnce outreach is added, last contact date is updated and won't be contacted again\n",
        "height": 402.1775107197669,
        "width": 289.74216745960825,
        "color": 3
      },
      "id": "edf7e39d-efc7-405c-a610-0b098f86de07",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1380,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3ecc873-2d60-4f2d-bc40-81f9379c725b",
              "name": "html",
              "type": "string",
              "value": "=Hey {{ $json.properties.firstname }},\n\nI'm with n8n, and we work with organizations like yours to empower you to automate away boring and difficult tasks with ease.\n\nCan you point me towards the right person on your team to chat with about this?\n\nCheers,\n\nMutasem"
            },
            {
              "id": "9f4f5b68-984b-415e-a110-a35ded22dd41",
              "name": "subject",
              "type": "string",
              "value": "Why n8n?"
            },
            {
              "id": "5362aa67-f3fa-4a6e-b6e8-4c50cc7a3192",
              "name": "to",
              "type": "string",
              "value": "={{ $json.properties.email }}"
            },
            {
              "id": "5b11e503-868d-4fca-bb44-59bb44d597a8",
              "name": "id",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "07dc70c8-bf11-4dbd-9f99-1dad8d233e70",
      "name": "Set keys",
      "type": "n8n-nodes-base.set",
      "position": [
        1200,
        540
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Send outreach/cold email using Gmail to new Hubspot contacts\n\nThis workflow uses Gmail to send outreach emails to Hubspot contacts that have yet to contacted (usually unknown contacts), and records the engagement in Hubspot. ",
        "height": 242.51175804432177,
        "width": 407.25356360335365,
        "color": 5
      },
      "id": "506b5b31-8aec-4f74-b194-474c9b09c3f1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "engagement",
        "type": "email",
        "metadata": {
          "fromEmail": "mutasem@n8n.io",
          "firstName": "Mutasem",
          "html": "={{ $json.html }}",
          "subject": "={{ $json.subject }}",
          "toEmail": [
            "={{ $json.to }}"
          ]
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $json.id }}"
          }
        }
      },
      "id": "89afc291-e706-4930-bee7-114d556b4c59",
      "name": "Record engagement in HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        1460,
        760
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-11T09:05:52.167Z",
      "updatedAt": "2024-08-11T09:14:06.583Z",
      "id": "zlJZt3Fo1ZYAvCNp",
      "name": "sales & marketing"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-08-11T09:09:28.975Z",
  "versionId": "6bdab69f-de3a-45dc-b2d2-c3ea2786ef66"
}