workflows/Automatically add customers from Pipedrive to Stripe.json
{
  "active": false,
  "connections": {
    "On deal updated": {
      "main": [
        [
          {
            "node": "Current won time Not Equal to Previous",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search customer": {
      "main": [
        [
          {
            "node": "Customer does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer does not exist": {
      "main": [
        [
          {
            "node": "Continue with organisation data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get organisation details": {
      "main": [
        [
          {
            "node": "Search customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Continue with organisation data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Continue with organisation data": {
      "main": [
        [
          {
            "node": "Create customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current won time Not Equal to Previous": {
      "main": [
        [
          {
            "node": "Get organisation details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-09T21:23:53.945Z",
  "id": "rM0Gz8ttR20LsgzT",
  "meta": {
    "templateId": "1775"
  },
  "name": "Automatically add customers from Pipedrive to Stripe",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"current\"].won_time}}",
              "operation": "notEqual",
              "value2": "={{ $json[\"previous\"].won_time}}"
            }
          ]
        }
      },
      "id": "acf47a04-1f3f-448a-b571-a94c84004c45",
      "name": "Current won time Not Equal to Previous",
      "type": "n8n-nodes-base.if",
      "position": [
        600,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "action": "updated",
        "object": "deal"
      },
      "id": "452a0208-be12-4aac-8c1a-9101ab79f8fb",
      "name": "On deal updated",
      "type": "n8n-nodes-base.pipedriveTrigger",
      "position": [
        380,
        240
      ],
      "webhookId": "af0f5626-e92f-4e29-bdc8-8e13c9c9cf99",
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "organization",
        "operation": "get",
        "organizationId": "={{ $json[\"current\"].org_id }}",
        "resolveProperties": true
      },
      "id": "202b9a47-2f00-43ec-bbab-ba82f94e4174",
      "name": "Get organisation details",
      "type": "n8n-nodes-base.pipedrive",
      "position": [
        840,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "url": "https://api.stripe.com/v1/customers/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "query",
              "value": "=name:'{{ $json[\"Name\"] }}'"
            }
          ]
        }
      },
      "id": "b88e18a3-1514-424f-ba96-c8bb94c14cb3",
      "name": "Search customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1060,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ JSON.stringify($json[\"data\"]) }}",
              "value2": "[]"
            }
          ]
        }
      },
      "id": "b4a4491e-8d69-41b6-83a4-128f228108e3",
      "name": "Customer does not exist",
      "type": "n8n-nodes-base.if",
      "position": [
        1320,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "passThrough",
        "output": "input2"
      },
      "id": "6aeaa043-ce4b-4665-a1eb-9fe66d86202f",
      "name": "Continue with organisation data",
      "type": "n8n-nodes-base.merge",
      "position": [
        1580,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "name": "={{ $json[\"Name\"] }}",
        "additionalFields": {
          "address": {
            "details": {
              "line1": "={{ $json[\"Street/road name\"] }} {{ $json[\"House number\"] }}",
              "city": "={{ $json[\"City/town/village/locality\"] }}",
              "state": "={{ $json[\"State/county\"] }}",
              "country": "={{ $json[\"Country\"] }}",
              "postal_code": "={{ $json[\"ZIP/Postal code\"] }}"
            }
          }
        }
      },
      "id": "21bc3b5a-72eb-4015-957a-7facfce371e0",
      "name": "Create customer",
      "type": "n8n-nodes-base.stripe",
      "position": [
        1820,
        200
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-09T21:23:53.945Z",
  "versionId": "c4dedd56-44a3-426b-8000-a89c50868193"
}