workflows/Create or update a post in WordPress.json
{
  "active": false,
  "connections": {
    "Wordpress": {
      "main": [
        []
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-21T12:42:43.177Z",
  "id": "1NowuFcErfStvsZx",
  "meta": null,
  "name": "Create or update a post in WordPress",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -220,
        280
      ],
      "typeVersion": 1,
      "id": "7460ec83-43b0-481f-9590-425bef0c812f",
      "disabled": true
    },
    {
      "parameters": {
        "title": "created from n8n",
        "additionalFields": {}
      },
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        -20,
        200
      ],
      "typeVersion": 1,
      "id": "aee38d06-f2be-471b-a2d2-8f805e117835"
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{$node[\"Wordpress\"].json[\"id\"]}}",
        "updateFields": {
          "content": "This post was created using the n8n workflow."
        }
      },
      "name": "Wordpress1",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        -20,
        400
      ],
      "typeVersion": 1,
      "id": "a41a408b-28b5-4090-b6ae-8d642088dbbc"
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-21T12:42:43.177Z",
  "versionId": "76ea1788-70f9-46d5-891d-c59d1079e414"
}