workflows/Detect and store the information about a purchase using the image of a receipt.json
{
  "active": false,
  "connections": {
    "Mindee": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Mindee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-21T12:42:43.933Z",
  "id": "OhpKA13DjKrVFe3w",
  "meta": null,
  "name": "Detect and store the information about a purchase using the image of a receipt",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "39f1b81f-f538-4b94-8788-29180d5e4016",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "binaryData": true
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        380,
        240
      ],
      "webhookId": "39f1b81f-f538-4b94-8788-29180d5e4016",
      "typeVersion": 1,
      "id": "b382bfc0-ff35-452f-bc56-5381e804b00f"
    },
    {
      "parameters": {
        "binaryPropertyName": "receipt"
      },
      "name": "Mindee",
      "type": "n8n-nodes-base.mindee",
      "position": [
        580,
        240
      ],
      "typeVersion": 1,
      "id": "c8f7ee4c-5714-47b0-b4c0-4c31f82e5fbe"
    },
    {
      "parameters": {
        "operation": "append",
        "application": "appThOr4e97XjXcDu",
        "table": "Receipt",
        "addAllFields": false,
        "fields": [
          "category",
          "date",
          "currency",
          "locale",
          "merchant",
          "time",
          "total"
        ],
        "options": {}
      },
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        780,
        240
      ],
      "typeVersion": 1,
      "id": "99f59352-9964-4da3-bd93-d36eedd57316"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data",
              "value": "={{$json[\"fields\"]}}"
            },
            {
              "name": "message",
              "value": "=You spent {{$json[\"fields\"][\"currency\"]}} {{$json[\"fields\"][\"total\"]}} on {{$json[\"fields\"][\"category\"]}} at {{$json[\"fields\"][\"merchant\"]}} on {{$json[\"fields\"][\"date\"]}} at {{$json[\"fields\"][\"time\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        980,
        240
      ],
      "typeVersion": 1,
      "id": "cfea8265-99b5-4d4d-8fd2-c6cbd7b2ef40"
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-21T12:42:43.933Z",
  "versionId": "3437e193-7679-4bb3-abe2-da5268b0f021"
}