workflows/Extract expenses from emails and add to Google Sheets 2.json
{
  "active": false,
  "connections": {
    "Check subject": {
      "main": [
        [
          {
            "node": "Read Receipts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Receipts": {
      "main": [
        [
          {
            "node": "Set column data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set column data": {
      "main": [
        [
          {
            "node": "Add to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Variables": {
      "main": [
        [
          {
            "node": "Check subject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for new emails": {
      "main": [
        [
          {
            "node": "Setup Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-09T21:32:35.603Z",
  "id": "9TGhbiP7HJv4TgoU",
  "meta": {
    "templateId": "1466"
  },
  "name": "Extract expenses from emails and add to Google Sheets 2",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"subject\"].toLowerCase()}}",
              "operation": "regex",
              "value2": "=/{{$json[\"subjectPatterns\"].toLowerCase()}}/"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "Check subject",
      "type": "n8n-nodes-base.if",
      "position": [
        740,
        240
      ],
      "typeVersion": 1,
      "id": "bc8e0ba3-06c1-493b-b2ee-f344345a4268"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "subjectPatterns",
              "value": "(expenses|reciept)"
            }
          ]
        },
        "options": {}
      },
      "name": "Setup Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        560,
        240
      ],
      "typeVersion": 1,
      "id": "40f87ded-3563-4d89-86e9-9b99377b7930"
    },
    {
      "parameters": {
        "mailbox": "Inbox",
        "format": "resolved",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Check for new emails",
      "type": "n8n-nodes-base.emailReadImap",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "5500a7c0-0c22-48b8-8d6b-98e1ac6f6045"
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_0"
      },
      "name": "Read Receipts",
      "type": "n8n-nodes-base.mindee",
      "position": [
        960,
        220
      ],
      "typeVersion": 1,
      "id": "19872045-6a4f-4b24-978b-d76990f883bc"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Date",
              "value": "={{$json[\"date\"]}}"
            },
            {
              "name": "Description",
              "value": "={{$node[\"Check for new emails\"].json[\"subject\"].split(\"-\")[1]}}"
            },
            {
              "name": "Category",
              "value": "={{$json[\"category\"]}}"
            },
            {
              "name": "Currency",
              "value": "={{$json[\"currency\"]}}"
            },
            {
              "name": "Amount",
              "value": "={{$json[\"total\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set column data",
      "type": "n8n-nodes-base.set",
      "position": [
        1140,
        220
      ],
      "typeVersion": 1,
      "id": "0d2d61b0-8378-442d-a67a-1404a4885c8e"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1xAtx1ORZYKu4urgqpOe3DawFjiWeOZO0VCVvOlQYnaE",
        "range": "A:E",
        "options": {}
      },
      "name": "Add to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1320,
        220
      ],
      "typeVersion": 1,
      "id": "3cf77322-65a7-4c64-a448-d81f1e121f8b"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-09T21:32:35.603Z",
  "versionId": "16090229-944f-4ff5-aaa5-f2cfcf774673"
}