workflows/lemonsqueezy stores.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "store_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "store_response": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-13T18:49:14.242Z",
  "id": "iv2j254t8K5fLvc6",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "lemonsqueezy stores",
  "nodes": [
    {
      "parameters": {},
      "id": "860181e1-bcce-47ad-941c-42c344602c71",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        300,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://api.lemonsqueezy.com/v1/stores",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.api+json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5NGQ1OWNlZi1kYmI4LTRlYTUtYjE3OC1kMjU0MGZjZDY5MTkiLCJqdGkiOiIyNDU4NjVlYTk3MmFkMGUzYmFjMTliNDlhMDYxNmE2OGY5OTExNjc2NDUwMmM1NWU0MzcxMzQ1M2U0Y2U5OGEwYjI2ZWI2NjgxOWFjMjNkYSIsImlhdCI6MTcyMzU2NzQwOS4zOTkxMDQsIm5iZiI6MTcyMzU2NzQwOS4zOTkxMDYsImV4cCI6MjAzOTEwMDIwOS4zNTk1NzMsInN1YiI6IjEyMDg5NTMiLCJzY29wZXMiOltdfQ.qs-XNkplfkn8msFkHnMn_RmVWWG2Gou0n_GVMuQU0hXwZmzRqRiLR6Rei88fKqWScCNOL9OfLYnSawvSlAnF3u1ZSR2FYLMrh8Iyc8aeT4v7Bm7WtmXiK4WLD3Ti4GMqx0-n9MoJRuHa4ZhNBAIjOw2B8t1aNZJcQtccpeLTEkFogyWprf7LaYbcvA5q6nTsYaCAj6kZ5tZHQppqQ1UsR6rSzCmEsVL8cxI_J6DyqRpmZ9I-pQJa2fLdWeB8QeGd7Bt98b9XyYMtWXwDqj4tUUoAfxmlGqY4Be6At1HmjGaBWpvt0-TsGPmHGJhLCqSPnaC-26wPiZn1fUkVAeT9VzrIWIVaUHFdB1zggcGU5C4Nb73vQ60b9YXm8KogwbrGLRHbThW73KqvK8Bc0_MwjNr8siistjsWCYWN7OuzRmOVoD_Rpzyx8A-O_C4unLIczii7ijH8XuYn58ZNvZkdp2s1QI1_Xlx-K-tAB24jQ7oUCIjf9o-n7knBQrpIJyjj"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/vnd.api+json",
        "options": {}
      },
      "id": "55641ff5-2d6c-467a-afaf-4bb07938553c",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the string from the previous node's output\nconst jsonString = $node[\"store_response\"].json[\"response\"];\n\n// Parse the string into a JSON object\nlet parsedData;\ntry {\n  parsedData = JSON.parse(jsonString);\n} catch (error) {\n  return [{ error: \"Invalid JSON format\" }];\n}\n\n// Extract the attributes\nconst attributes = parsedData.attributes;\n\n// Return the extracted attributes\nreturn [\n  {\n    json: {\n      name: attributes.name,\n      slug: attributes.slug,\n      domain: attributes.domain,\n      url: attributes.url,\n      avatarUrl: attributes.avatar_url,\n      plan: attributes.plan,\n      country: attributes.country,\n      countryNicename: attributes.country_nicename,\n      currency: attributes.currency,\n      totalSales: attributes.total_sales,\n      totalRevenue: attributes.total_revenue,\n      thirtyDaySales: attributes.thirty_day_sales,\n      thirtyDayRevenue: attributes.thirty_day_revenue,\n      createdAt: attributes.created_at,\n      updatedAt: attributes.updated_at,\n    },\n  },\n];\n"
      },
      "id": "75ab6764-038f-4d6b-ba59-1e45291dfff3",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18b6eb9a-4d70-45d1-8c91-88ee0178737d",
              "name": "store_response",
              "value": "={{ $json.data.split(\"data\")[1].split(\"relationships\")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8b048d03-f9c3-4fe6-8997-839a17220aa4",
      "name": "store_response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        460
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-11T09:05:52.167Z",
      "updatedAt": "2024-08-11T09:14:06.583Z",
      "id": "zlJZt3Fo1ZYAvCNp",
      "name": "sales & marketing"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-08-14T14:25:59.000Z",
  "versionId": "c7414e31-32b8-4a7c-a750-8be516ca038c"
}