workflows/Notify on new emails with invoices in Slack.json
{
  "active": false,
  "connections": {
    "If Amount > 1000": {
      "main": [
        [
          {
            "node": "Send email to finance manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send new invoice notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for new emails": {
      "main": [
        [
          {
            "node": "If email body contains invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract the total amount": {
      "main": [
        [
          {
            "node": "If Amount > 1000",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email to finance manager": {
      "main": [
        [
          {
            "node": "Send new invoice notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email body contains invoice": {
      "main": [
        [
          {
            "node": "Extract the total amount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-21T12:42:46.491Z",
  "id": "W4WTPdTRM0hVI34R",
  "meta": null,
  "name": "Notify on new emails with invoices in Slack",
  "nodes": [
    {
      "parameters": {
        "mailbox": "Inbox",
        "format": "resolved",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Check for new emails",
      "type": "n8n-nodes-base.emailReadImap",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "fffaee19-a6fe-491b-bb81-ded42648211e"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"text\"].toLowerCase()}}",
              "operation": "contains",
              "value2": "invoice"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "If email body contains invoice",
      "type": "n8n-nodes-base.if",
      "position": [
        580,
        240
      ],
      "typeVersion": 1,
      "id": "39753843-8e4d-4e69-a2a9-4bec8daae785"
    },
    {
      "parameters": {
        "resource": "invoice",
        "binaryPropertyName": "attachment_0",
        "rawData": true
      },
      "name": "Extract the total amount",
      "type": "n8n-nodes-base.mindee",
      "position": [
        780,
        220
      ],
      "typeVersion": 1,
      "id": "1f8ee48e-263c-4a26-bfa7-98aaf55ad924"
    },
    {
      "parameters": {
        "channel": "team-accounts",
        "text": ":new: There is a new invoice to pay :new:",
        "otherOptions": {},
        "attachments": [
          {
            "color": "#FFBF00",
            "fields": {
              "item": [
                {
                  "short": true,
                  "title": "Amount",
                  "value": "={{$node[\"If Amount > 1000\"].json[\"predictions\"][0][\"total_incl\"][\"amount\"]}}"
                },
                {
                  "short": false,
                  "title": "From",
                  "value": "={{$node[\"Check for new emails\"].json[\"from\"][\"value\"][0][\"address\"]}}"
                },
                {
                  "short": true,
                  "title": "Subject",
                  "value": "={{$node[\"Check for new emails\"].json[\"subject\"]}}"
                }
              ]
            },
            "footer": "=*Date:* {{$node[\"Check for new emails\"].json[\"date\"]}}"
          }
        ],
        "blocksUi": {
          "blocksValues": []
        }
      },
      "name": "Send new invoice notification",
      "type": "n8n-nodes-base.slack",
      "position": [
        1460,
        240
      ],
      "typeVersion": 1,
      "id": "a89585e9-7943-483e-9347-1dcc1e177742"
    },
    {
      "parameters": {
        "fromEmail": "n8n@noreply.tld",
        "toEmail": "finance-manager@company.tld",
        "subject": "New high value invoice",
        "text": "Hi,\n\nThere is a new high value invoice to be paid that you may need to approve.\n\n~ n8n workflow",
        "attachments": "attachment_0",
        "options": {}
      },
      "name": "Send email to finance manager",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1220,
        60
      ],
      "typeVersion": 1,
      "id": "f1315687-f07e-41da-b97b-2c28be43ae4b"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"predictions\"][0][\"total_incl\"][\"amount\"]}}",
              "operation": "larger",
              "value2": 1000
            }
          ]
        }
      },
      "name": "If Amount > 1000",
      "type": "n8n-nodes-base.if",
      "position": [
        960,
        220
      ],
      "typeVersion": 1,
      "id": "dd8656f0-831d-460b-b21c-d4ebb2120eb4"
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-21T12:42:46.491Z",
  "versionId": "ce4dc1d8-4d4e-4f82-ae85-4dccda2e6f4a"
}