workflows/Product Sync Automation with  e-Shops and SM  - enable Gumroad products.json
{
  "active": false,
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "List SM Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Gumroad products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreatetimeEntryinSM": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Formatting": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Gumroad products": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List SM Products": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreatetimeEntryinSM1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message Formatting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Formatting1": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mattermost1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreatetimeEntryinSM1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "CreatetimeEntryinSM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T13:46:06.327Z",
  "id": "k3yyNXzhxmJJAh8f",
  "meta": {
    "templateId": "2089",
    "templateCredsSetupCompleted": true
  },
  "name": "Product Sync Automation with  e-Shops and SM  - enable Gumroad products",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "include": "selectedOtherFields",
        "fieldsToInclude": "items",
        "options": {}
      },
      "id": "62351e35-6ec4-4661-a5b4-5d5f63f4b5bd",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        180,
        840
      ]
    },
    {
      "parameters": {},
      "id": "aefd146c-20cb-4d57-848f-c23e7eee2a3f",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        920
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "products",
        "include": "selectedOtherFields",
        "fieldsToInclude": "products[0]",
        "options": {}
      },
      "id": "513d1dfa-7828-470c-b44d-fca71789f652",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        180,
        1020
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07BLFDL917",
          "mode": "list",
          "cachedResultName": "toggl-time-captured"
        },
        "text": "={{ $json[\"message\"] }}",
        "otherOptions": {}
      },
      "id": "98bc3d18-7400-4254-8b29-2ce11e0b04fe",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1660,
        640
      ]
    },
    {
      "parameters": {
        "channelId": "jpqr5pw497dxf8kirt96t4ar5r",
        "message": "={{ $json[\"message\"] }}",
        "attachments": [
          {}
        ],
        "otherOptions": {
          "root_id": ""
        }
      },
      "id": "92d362a1-1755-4fef-8ef8-bdc67db1aaed",
      "name": "Mattermost",
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        1660,
        820
      ]
    },
    {
      "parameters": {
        "content": "## SmartSuite",
        "height": 251.1787901061815,
        "width": 228.1849366795202
      },
      "id": "815b1c20-a2ab-4fa8-b49d-dd8c1d289783",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/66c78a2dbce4c9bd2cb89ae0/records/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  \"description\": \"\",\n  \"stoplight_status\": \"1\",\n  \"s88e7dacd4\": {\n      \"value\": \"ready_for_review\"\n  },\n     \"sa367b179c\": \"\", \n     \"s4a76ca555\": \"\",\n     \"s59cf5f62e\": \"\",\n     \"s01309874d\": \"\",\n     \"s0055e37c7\": \"\",\n     \"sdcc84aca9\": \"\",\n     \"s27c84f9dc\": \"\",\n     \"s2a1e431cf\": \"\",\n     \"s695ddd3bc\": \"\",\n     \"se04e3e0e9\": \"\",\n     \"s43e17a141\": \"\",\n     \"sf72583110\": \"\",\n     \"s7910830c4\": \"\",\n     \"saf5f43a19\": \"\",\n     \"scc7f33c59\": \"\",\n     \"s6c8e93252\": \"\",\n     \"snsbx99t\": \"\",\n     \"se2b0a7144\": \"\",\n     \"s43e17a141\": \"\",\n     \"s87545f511\": \"\",\n     \"s5137f6d86\": \"\",\n     \"s2abe8099b\": \"\",\n     \"sb75a0684c\": \"\",\n     \"s301fca032\": \"\",\n     \"sefc57f988\": \"\",\n     \"s918f4afc8\": \"\",\n     \"s301fca032\": \"\",\n     \"sa73f1f512\": \"\",\n     \"s3fa19f28b\": \"\",\n     \"s3ec98c5e6\": \"\",\n     \"s15d83fd8f\": \"\",\n     \"s17796c427\": \"\"\n\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 120
            }
          }
        }
      },
      "id": "1bdaaea8-5fd8-4cc8-b496-5636ccf8ada3",
      "name": "CreatetimeEntryinSM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        740
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "sf7335e6da"
            },
            {
              "fieldToAggregate": "status"
            },
            {
              "fieldToAggregate": "s2e7d2b64e"
            },
            {
              "fieldToAggregate": "se6d1375cc"
            },
            {
              "fieldToAggregate": "s6e80240de"
            },
            {
              "fieldToAggregate": "s388b58221"
            },
            {
              "fieldToAggregate": "description.data.content[0].content[0].text"
            }
          ]
        },
        "options": {}
      },
      "id": "427a4441-fe1b-43d4-a7e7-42acf9181530",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1220,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "// Assuming 'AggregatedData' is the name of the node with the aggregated data\nconst aggregatedData = $node[\"Aggregate\"].json;\n\n// Prepare the message\nlet message = 'Hi Team,\\n\\nNew time entries are ready for review. Here are the details:\\n\\n';\n\nconst dates = [...new Set(aggregatedData.s2e7d2b64e)];\n\ndates.forEach(date => {\n  message += `*Date:* ${date}\\n`;\n  message += `*Client:* ${aggregatedData.s388b58221[0]}\\n`;\n   message += '\\n\\n';\n  message += '```\\n';  // Start block quote for grey frame\n  message += 'Title                      | Status               | Worked Hours  | Description\\n';\n  message += '---------------------------|----------------------|---------------|----------------------------------------------\\n';\n  \n  aggregatedData.s2e7d2b64e.forEach((entryDate, index) => {\n    if (entryDate === date) {\n      const title = aggregatedData.title[index].padEnd(27, ' ');\n      const status = aggregatedData.status[index].value.padEnd(20, ' ');\n      const hours = aggregatedData.se6d1375cc[index].toString().padEnd(13, ' ');\n      const description = aggregatedData.text[index];\n      message += `${title}| ${status} | ${hours} | ${description}\\n`;\n    }\n  });\n  message += '```\\n\\n';  // End block quote for grey frame\n});\n\nmessage += '\\nPlease review these entries at your earliest convenience.\\nThank you!\\n';\n\nreturn [\n  {\n    json: {\n      message: message\n    }\n  }\n];"
      },
      "id": "4f4947ef-a3bc-4fa2-9d31-16fba7015bac",
      "name": "Message Formatting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        740
      ]
    },
    {
      "parameters": {
        "url": "https://api.gumroad.com/v2/products",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "tJqRgo85uqkjM8UU95H2XmfWvLH5H2_yKG5bL2AVHPw"
            }
          ]
        },
        "options": {}
      },
      "id": "3b426e56-235d-4314-bdfa-a02e598247a5",
      "name": "List Gumroad products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        1020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/66c4e7e2873ba568943bfff0/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "options": {}
      },
      "id": "aa6ab351-b8e7-4d46-bf72-339ca8b8c8cf",
      "name": "List SM Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        840
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07BLFDL917",
          "mode": "list",
          "cachedResultName": "toggl-time-captured"
        },
        "text": "={{ $json[\"message\"] }}",
        "otherOptions": {}
      },
      "id": "f8127de9-d1d6-4a99-823b-150bb909520f",
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2200,
        1160
      ]
    },
    {
      "parameters": {
        "channelId": "jpqr5pw497dxf8kirt96t4ar5r",
        "message": "={{ $json[\"message\"] }}",
        "attachments": [
          {}
        ],
        "otherOptions": {
          "root_id": ""
        }
      },
      "id": "bd8ccdee-f5f4-4b5f-b5e6-fc6db62548d0",
      "name": "Mattermost1",
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        2200,
        1340
      ]
    },
    {
      "parameters": {
        "content": "## SmartSuite",
        "height": 251.1787901061815,
        "width": 228.1849366795202
      },
      "id": "678c99f1-60aa-4839-8bf1-072245e0e13f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        1180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/66c78a2dbce4c9bd2cb89ae0/records/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  \"description\": \"\",\n  \"stoplight_status\": \"1\",\n  \"s88e7dacd4\": {\n      \"value\": \"ready_for_review\"\n  },\n     \"sa367b179c\": \"\", \n     \"s4a76ca555\": \"\",\n     \"s59cf5f62e\": \"\",\n     \"s01309874d\": \"\",\n     \"s0055e37c7\": \"\",\n     \"sdcc84aca9\": \"\",\n     \"s27c84f9dc\": \"\",\n     \"s2a1e431cf\": \"\",\n     \"s695ddd3bc\": \"\",\n     \"se04e3e0e9\": \"\",\n     \"s43e17a141\": \"\",\n     \"sf72583110\": \"\",\n     \"s7910830c4\": \"\",\n     \"saf5f43a19\": \"\",\n     \"scc7f33c59\": \"\",\n     \"s6c8e93252\": \"\",\n     \"snsbx99t\": \"\",\n     \"se2b0a7144\": \"\",\n     \"s43e17a141\": \"\",\n     \"s87545f511\": \"\",\n     \"s5137f6d86\": \"\",\n     \"s2abe8099b\": \"\",\n     \"sb75a0684c\": \"\",\n     \"s301fca032\": \"\",\n     \"sefc57f988\": \"\",\n     \"s918f4afc8\": \"\",\n     \"s301fca032\": \"\",\n     \"sa73f1f512\": \"\",\n     \"s3fa19f28b\": \"\",\n     \"s3ec98c5e6\": \"\",\n     \"s15d83fd8f\": \"\",\n     \"s17796c427\": \"\"\n\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5,
              "batchInterval": 120
            }
          }
        }
      },
      "id": "afb9360e-89cb-4d99-8ac6-3802ff7fb6db",
      "name": "CreatetimeEntryinSM1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        1260
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "sf7335e6da"
            },
            {
              "fieldToAggregate": "status"
            },
            {
              "fieldToAggregate": "s2e7d2b64e"
            },
            {
              "fieldToAggregate": "se6d1375cc"
            },
            {
              "fieldToAggregate": "s6e80240de"
            },
            {
              "fieldToAggregate": "s388b58221"
            },
            {
              "fieldToAggregate": "description.data.content[0].content[0].text"
            }
          ]
        },
        "options": {}
      },
      "id": "dafcd7f3-097c-48d9-8e0a-e62284ca2563",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1760,
        1260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Assuming 'AggregatedData' is the name of the node with the aggregated data\nconst aggregatedData = $node[\"Aggregate1\"].json;\n\n// Prepare the message\nlet message = 'Hi Team,\\n\\nNew time entries are ready for review. Here are the details:\\n\\n';\n\nconst dates = [...new Set(aggregatedData.s2e7d2b64e)];\n\ndates.forEach(date => {\n  message += `*Date:* ${date}\\n`;\n  message += `*Client:* ${aggregatedData.s388b58221[0]}\\n`;\n   message += '\\n\\n';\n  message += '```\\n';  // Start block quote for grey frame\n  message += 'Title                      | Status               | Worked Hours  | Description\\n';\n  message += '---------------------------|----------------------|---------------|----------------------------------------------\\n';\n  \n  aggregatedData.s2e7d2b64e.forEach((entryDate, index) => {\n    if (entryDate === date) {\n      const title = aggregatedData.title[index].padEnd(27, ' ');\n      const status = aggregatedData.status[index].value.padEnd(20, ' ');\n      const hours = aggregatedData.se6d1375cc[index].toString().padEnd(13, ' ');\n      const description = aggregatedData.text[index];\n      message += `${title}| ${status} | ${hours} | ${description}\\n`;\n    }\n  });\n  message += '```\\n\\n';  // End block quote for grey frame\n});\n\nmessage += '\\nPlease review these entries at your earliest convenience.\\nThank you!\\n';\n\nreturn [\n  {\n    json: {\n      message: message\n    }\n  }\n];"
      },
      "id": "f47b36d2-4f94-4b30-b7b8-b42f3f0d963a",
      "name": "Message Formatting1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        1260
      ]
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "5af1d5bd-9814-45b3-8cd8-b04c6c4b343d",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1280,
        1000
      ]
    },
    {
      "parameters": {},
      "id": "7301b449-0145-4215-b0ab-913afd2b7f18",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1560,
        1000
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "69cba718-7c3d-4346-a823-9be798bd4476",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        1000
      ]
    },
    {
      "parameters": {},
      "id": "d12eb91f-baf2-45c6-9bf0-6f83c1be1a44",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1060,
        1080
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.items[0].sa7e639fac }}",
                    "rightValue": "={{ $json.products.id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Record"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "76ee8792-f9c1-4d6a-b605-cd5f8775cc3c",
                    "leftValue": "={{ $json.items[0].sa7e639fac }}",
                    "rightValue": "={{ $json.products.id }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Existing"
            }
          ]
        },
        "options": {}
      },
      "id": "3eea17a7-4905-4c4d-8fe3-9fa314527588",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        620,
        940
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "items[0].sc7204a3d7, products.name",
        "outputDataFrom": "input2",
        "options": {}
      },
      "id": "c46aa7c2-2a4d-45f1-8b1f-7ac3705a87cf",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        440,
        940
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-23T13:46:06.327Z",
  "versionId": "0949ed9a-8dcc-4564-8aa3-5e1e51d53fde"
}