workflows/Receive updates when a subscriber created, updated, deleted in MailerLite.json
{
  "active": false,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailerLite Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailerLite Trigger1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailerLite Trigger2": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailerLite Trigger3": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailerLite Trigger4": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-27T12:10:12.767Z",
  "id": "E9GrRTjxnEMHOwRq",
  "meta": {
    "templateId": "759",
    "templateCredsSetupCompleted": true
  },
  "name": "Receive updates when a subscriber created, updated, deleted in MailerLite",
  "nodes": [
    {
      "parameters": {
        "event": "subscriber.add_to_group"
      },
      "name": "MailerLite Trigger",
      "type": "n8n-nodes-base.mailerLiteTrigger",
      "position": [
        200,
        -300
      ],
      "webhookId": "dd15d919-18b3-4af7-a5c9-c4583cdda9f5",
      "typeVersion": 1,
      "id": "6bce9406-4097-4218-a065-7ba07190ae99",
      "credentials": {
        "mailerLiteApi": {
          "id": "25JDTD7fp4pkxnII",
          "name": "Mailer Lite account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$node[\"MailerLite Trigger\"].json[\"data\"][\"subscriber\"][\"name\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$node[\"MailerLite Trigger\"].json[\"data\"][\"subscriber\"][\"email\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        400,
        -300
      ],
      "typeVersion": 1,
      "id": "0443039b-312a-4807-a7c1-ca9e1bb654a8"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5d16b8dd-1df7-4445-b9ec-de9fe6c97b8e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        -300
      ]
    },
    {
      "parameters": {
        "event": "subscriber.add_to_group"
      },
      "name": "MailerLite Trigger1",
      "type": "n8n-nodes-base.mailerLiteTrigger",
      "position": [
        200,
        -100
      ],
      "webhookId": "dd15d919-18b3-4af7-a5c9-c4583cdda9f5",
      "typeVersion": 1,
      "id": "827c803e-5424-4ec4-90fe-2f41a06f55b8",
      "credentials": {
        "mailerLiteApi": {
          "id": "25JDTD7fp4pkxnII",
          "name": "Mailer Lite account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$node[\"MailerLite Trigger1\"].json[\"data\"][\"subscriber\"][\"name\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$node[\"MailerLite Trigger1\"].json[\"data\"][\"subscriber\"][\"email\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "position": [
        400,
        -100
      ],
      "typeVersion": 1,
      "id": "b42c06bd-5ad4-4d66-b638-a0d291828cd9"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6747ec0f-28ef-40eb-9982-d30abe81a32c",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        -100
      ]
    },
    {
      "parameters": {
        "event": "subscriber.add_to_group"
      },
      "name": "MailerLite Trigger2",
      "type": "n8n-nodes-base.mailerLiteTrigger",
      "position": [
        200,
        140
      ],
      "webhookId": "dd15d919-18b3-4af7-a5c9-c4583cdda9f5",
      "typeVersion": 1,
      "id": "58685f31-1081-4451-98b6-f9b515d2b848",
      "credentials": {
        "mailerLiteApi": {
          "id": "25JDTD7fp4pkxnII",
          "name": "Mailer Lite account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$node[\"MailerLite Trigger2\"].json[\"data\"][\"subscriber\"][\"name\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$node[\"MailerLite Trigger2\"].json[\"data\"][\"subscriber\"][\"email\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "position": [
        400,
        140
      ],
      "typeVersion": 1,
      "id": "b937af64-647c-47d7-884c-f15d03102b1b"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2abaeb2a-a2f7-4408-bef8-fbd36ceb7330",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        140
      ]
    },
    {
      "parameters": {
        "event": "subscriber.add_to_group"
      },
      "name": "MailerLite Trigger3",
      "type": "n8n-nodes-base.mailerLiteTrigger",
      "position": [
        200,
        360
      ],
      "webhookId": "dd15d919-18b3-4af7-a5c9-c4583cdda9f5",
      "typeVersion": 1,
      "id": "c008f2a4-0698-42cc-a5e4-83141fe4bc95",
      "credentials": {
        "mailerLiteApi": {
          "id": "25JDTD7fp4pkxnII",
          "name": "Mailer Lite account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$node[\"MailerLite Trigger3\"].json[\"data\"][\"subscriber\"][\"name\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$node[\"MailerLite Trigger3\"].json[\"data\"][\"subscriber\"][\"email\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "position": [
        400,
        360
      ],
      "typeVersion": 1,
      "id": "4018b17e-bef8-443a-a6a5-5a3eebe3990f"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "13d70a3c-87ab-46d6-8c18-f442acae1953",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        360
      ]
    },
    {
      "parameters": {
        "event": "subscriber.add_to_group"
      },
      "name": "MailerLite Trigger4",
      "type": "n8n-nodes-base.mailerLiteTrigger",
      "position": [
        200,
        580
      ],
      "webhookId": "dd15d919-18b3-4af7-a5c9-c4583cdda9f5",
      "typeVersion": 1,
      "id": "46b1b0c4-52eb-44ee-89be-f0fadd7dde6a",
      "credentials": {
        "mailerLiteApi": {
          "id": "25JDTD7fp4pkxnII",
          "name": "Mailer Lite account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$node[\"MailerLite Trigger4\"].json[\"data\"][\"subscriber\"][\"name\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$node[\"MailerLite Trigger4\"].json[\"data\"][\"subscriber\"][\"email\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "position": [
        400,
        580
      ],
      "typeVersion": 1,
      "id": "2ea08b8e-ed60-4e84-8320-f50efb0d3535"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "47e02dd9-c3ba-4792-9f32-3c3d61fce36d",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        580
      ]
    },
    {
      "parameters": {
        "content": "## New Subscriber added in Mailerlite",
        "height": 111.5625
      },
      "id": "17640308-1f0e-469c-95cf-a4721dc11a92",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        -300
      ]
    },
    {
      "parameters": {
        "content": "## New Subscriber added in Mailerlite",
        "height": 111.5625
      },
      "id": "060bf10f-e377-454d-97e4-8c0ed54fae58",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        -100
      ]
    },
    {
      "parameters": {
        "content": "## New Subscriber added in Mailerlite",
        "height": 111.5625
      },
      "id": "2b0c2026-7f58-4bb8-bab5-e2f6f19a8cbf",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        140
      ]
    },
    {
      "parameters": {
        "content": "## New Subscriber added in Mailerlite",
        "height": 111.5625
      },
      "id": "fc37ecc6-7e2a-4e53-8ad3-01d847df21f9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        360
      ]
    },
    {
      "parameters": {
        "content": "## New Subscriber added in Mailerlite",
        "height": 111.5625
      },
      "id": "140c7e4b-d2c4-4392-a964-f22e9b1392e2",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        580
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-27T13:45:41.000Z",
  "versionId": "3b300262-9639-4349-ab3b-3690671a6f52"
}