workflows/Receive updates when a subscriber created, updated, deleted in MailerLite.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "MailerLite",
            "type": "main",
            "index": 0
          },
          {
            "node": "MailerLite1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMTimeEntry1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update Subscriber",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "SMTimeEntry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-27T12:10:12.767Z",
  "id": "E9GrRTjxnEMHOwRq",
  "meta": {
    "templateId": "759",
    "templateCredsSetupCompleted": true
  },
  "name": "Receive updates when a subscriber created, updated, deleted in MailerLite",
  "nodes": [
    {
      "parameters": {
        "content": "## New Subscriber added in Mailerlite",
        "height": 111.5625
      },
      "id": "17640308-1f0e-469c-95cf-a4721dc11a92",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        -300
      ]
    },
    {
      "parameters": {
        "content": "## New Subscriber added in Mailerlite",
        "height": 111.5625
      },
      "id": "060bf10f-e377-454d-97e4-8c0ed54fae58",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        -100
      ]
    },
    {
      "parameters": {
        "content": "## New Subscriber added in Mailerlite",
        "height": 111.5625
      },
      "id": "2b0c2026-7f58-4bb8-bab5-e2f6f19a8cbf",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        140
      ]
    },
    {
      "parameters": {
        "content": "## New Subscriber added in Mailerlite",
        "height": 111.5625
      },
      "id": "fc37ecc6-7e2a-4e53-8ad3-01d847df21f9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        360
      ]
    },
    {
      "parameters": {
        "content": "## New Subscriber added in Mailerlite",
        "height": 111.5625
      },
      "id": "140c7e4b-d2c4-4392-a964-f22e9b1392e2",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        580
      ]
    },
    {
      "parameters": {
        "content": "## New Subscriber added in Mailerlite",
        "height": 111.5625
      },
      "id": "2996c430-c888-409d-89f4-f5e0e7e5f722",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        780
      ]
    },
    {
      "parameters": {},
      "id": "f7d203ed-0f34-48cf-bcd5-0e09d0908d46",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/66cdd2af45744a6ad9d404c6/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "ae0d826a-eaba-4122-8f4f-04a744f4e3c4",
      "name": "SMTimeEntry1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/66cdd2af45744a6ad9d404c6/records/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"description\": \"{{ $json.description }}\",\n  \"stoplight_status\": \"1\",\n  \"s88e7dacd4\": {\n    \"value\": \"{{ $json.data[0].status }}\"\n  },\n \t \"s83aff2ca3\": \"{{ $json.data[0].id }}\", \n\t \"seef9be73f\": \"{{ $json.data[0].email }}\",\n\t \"s605154076\": \"{{ $json.data[0].status }}\", \n \t \"sa3391023f\": \"{{ $json.data[0].source }}\", \n\t \"sfa773767c\": \"{{ $json.data[0].sent }}\", \n\t \"s42c301ed6\": \"{{ $json.data[0].opens_count }}\", \n \t \"sdf1296650\": \"{{ $json.data[0].clicks_count }}\", \n\t \"s596d03ab3\": \"{{ $json.data[0].open_rate }}\", \n\t \"s4e93c21d5\": \"{{ $json.data[0].click_rate }}\", \n\t \"s4e93c21d5\": \"{{ $json.data[0].ip_address }}\", \n\t \"s1c6490541\": \"{{ $json.data[0].subscribed_at }}\", \n\t \"s2ce00d764\": \"{{ $json.data[0].unsubscribed_at }}\", \n\t \"s6576bfd42\": \"{{ $json.data[0].created_at }}\",\n\t \"s39bc7a9be\": \"{{ $json.data[0].updated_at }}\", \n\t \"s2463dbdbb\": \"{{ $json.data[0].fields.name }}\",\n\t \"sc600bc4f0\": \"{{ $json.data[0].fields.last_name }}\", \n\t \"sba31ce70d\": \"{{ $json.data[0].fields.company }}\", \n\t \"s291c28451\": \"{{ $json.data[0].fields.country }}\", \n\t \"s8b859eae9\": \"{{ $json.data[0].fields.city }}\",\n\t \"s0fc970993\": \"{{ $json.data[0].fields.phone }}\", \n\t \"sfb8f84267\": \"{{ $json.data[0].fields.state }}\",\n\t \"s221bf10d2\": \"{{ $json.data[0].opted_in_at }}\", \n\t \"s221bf10d2\": \"{{ $json.data[0].opted_in_at}}\"\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 120
            }
          }
        }
      },
      "id": "d29ae38d-294b-432e-ad39-d81ecdffe491",
      "name": "Update Subscriber",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        -420
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5f58b1ed-b7eb-49d7-9d15-523f8e369a64",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1540,
        -300
      ]
    },
    {
      "parameters": {},
      "id": "2c162616-0cf3-4763-a0cb-2e23f513d716",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        -220
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT * FROM input2 LEFT JOIN input1 ON input1.seef9be73f = input2.id"
      },
      "id": "d620febe-7543-48a9-8a8b-ec6b37278632",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1100,
        -300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "type": "active"
        }
      },
      "id": "f5e25ec3-f12e-47ef-a1a7-b1ebe10e5a06",
      "name": "MailerLite",
      "type": "n8n-nodes-base.mailerLite",
      "typeVersion": 1,
      "position": [
        460,
        -300
      ],
      "credentials": {
        "mailerLiteApi": {
          "id": "25JDTD7fp4pkxnII",
          "name": "Mailer Lite account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "type": "unconfirmed"
        }
      },
      "id": "fb8a5f28-9656-4a25-ab6a-64fc45bc64a1",
      "name": "MailerLite1",
      "type": "n8n-nodes-base.mailerLite",
      "typeVersion": 1,
      "position": [
        460,
        -80
      ],
      "credentials": {
        "mailerLiteApi": {
          "id": "25JDTD7fp4pkxnII",
          "name": "Mailer Lite account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "type": "unsubscribed"
        }
      },
      "id": "645bb1cd-2b73-4c63-8c6a-83583680bd26",
      "name": "MailerLite2",
      "type": "n8n-nodes-base.mailerLite",
      "typeVersion": 1,
      "position": [
        480,
        120
      ],
      "credentials": {
        "mailerLiteApi": {
          "id": "25JDTD7fp4pkxnII",
          "name": "Mailer Lite account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "event": "subscriber.update"
      },
      "id": "4afc2a86-91a2-4fe0-ab75-e652ab59d0e7",
      "name": "MailerLite Trigger",
      "type": "n8n-nodes-base.mailerLiteTrigger",
      "typeVersion": 1,
      "position": [
        480,
        320
      ],
      "webhookId": "cf19c5de-40ad-477c-806c-2e4ee3a86ba0",
      "credentials": {
        "mailerLiteApi": {
          "id": "25JDTD7fp4pkxnII",
          "name": "Mailer Lite account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-29T12:49:51.000Z",
  "versionId": "9929d824-62bb-4f38-8f5e-29ec334075d4"
}