workflows/Send a daily summary of your Google Calendar events to Slack.json
{
  "active": false,
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-21T12:42:47.229Z",
  "id": "m1H7a5GcTWc5Ncut",
  "meta": null,
  "name": "Send a daily summary of your Google Calendar events to Slack",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": "xxxxx@gmail.com",
        "returnAll": true,
        "options": {}
      },
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "f8c60975-0f11-4eed-b2e1-5c4a96f1e1e0"
    },
    {
      "parameters": {
        "functionCode": "var date = new Date().toISOString();\nvar day = new Date().getDay();\nconst weekday = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\n\nitems[0].json.date_today = date;\nitems[0].json.day_today = weekday[day];\n\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "position": [
        380,
        630
      ],
      "notesInFlow": false,
      "typeVersion": 1,
      "id": "e6049516-e44b-496d-9439-e71995c5847b"
    },
    {
      "parameters": {
        "value": "={{$json[\"start\"][\"dateTime\"]}}",
        "dataPropertyName": "Event Start Date Only",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {
          "toTimezone": "Asia/Qatar"
        }
      },
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        560,
        240
      ],
      "typeVersion": 1,
      "id": "2c29e5fa-8f62-4f62-913d-fb03099aebaf"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "= {{$json[\"Event Date\"]}}",
              "value2": "= {{$json[\"Today's Date\"]}}"
            }
          ],
          "dateTime": []
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        1250,
        450
      ],
      "typeVersion": 1,
      "id": "59f6a88f-cc1e-45fa-b79e-633ca008d89b"
    },
    {
      "parameters": {
        "value": "={{$json[\"date_today\"]}}",
        "dataPropertyName": "Today's Date",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {
          "toTimezone": "Asia/Qatar"
        }
      },
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        720,
        630
      ],
      "typeVersion": 1,
      "id": "a6ffd558-ccfe-4042-9f4a-37ed910b3ee3"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Event Name",
              "value": "={{$json[\"summary\"]}}"
            },
            {
              "name": "Event Date",
              "value": "={{$json[\"Event Start Date Only\"]}}"
            },
            {
              "name": "Today's Date",
              "value": "="
            },
            {
              "name": "Gcal URL",
              "value": "={{$json[\"htmlLink\"]}}"
            },
            {
              "name": "Location",
              "value": "={{$json[\"location\"]}}"
            },
            {
              "name": "Start Time",
              "value": "={{$json[\"start\"][\"dateTime\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        750,
        240
      ],
      "typeVersion": 1,
      "id": "2e66e788-e3e9-42ec-88c1-6b64d731bb11"
    },
    {
      "parameters": {
        "mode": "multiplex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1040,
        450
      ],
      "typeVersion": 1,
      "id": "216abad6-3021-4c76-a785-2318b90cfcc2"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [],
          "string": [
            {
              "name": "Name",
              "value": "={{$json[\"Event Name\"]}}"
            },
            {
              "name": "Time",
              "value": "={{$json[\"Start Time\"]}}"
            },
            {
              "name": "URL",
              "value": "={{$json[\"Gcal URL\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "position": [
        1470,
        430
      ],
      "typeVersion": 1,
      "id": "85e3a38b-8e0b-45c4-985a-a8c8a1b1ff95"
    },
    {
      "parameters": {
        "value": "={{$json[\"Time\"]}}",
        "dataPropertyName": "Time",
        "custom": true,
        "toFormat": "HH:mm",
        "options": {
          "toTimezone": "Asia/Qatar"
        }
      },
      "name": "Date & Time2",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        1640,
        430
      ],
      "typeVersion": 1,
      "id": "4f71858b-c046-496b-bb10-288a228f470f"
    },
    {
      "parameters": {
        "functionCode": "// Create our Slack message\n// This will output a list of Ticket URLs with the status and the subject\n// 12345 [STATUS] - Ticket Subject\nlet message = \"*Hello , Please find below a list of your meetings for today*. \\n\";\n\n// Loop the input items\nfor (item of items) {\n  // Append the ticket information to the message\n  message += \"*\" + item.json.Name +' @ '+ item.json.Time + \"\\n*  - \" + item.json.URL + \"\\n\"; \n}\n\n// Return our message\nreturn [{json: {message}}];\n"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "position": [
        1800,
        430
      ],
      "typeVersion": 1,
      "id": "e8db05c3-c4b3-4565-996c-7acb75e91121"
    },
    {
      "parameters": {
        "channel": "virtual-assistant",
        "text": "={{$json[\"message\"]}}",
        "otherOptions": {},
        "attachments": []
      },
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1990,
        430
      ],
      "typeVersion": 1,
      "id": "b4b97249-8ca6-4054-b33c-6b0062451b6c"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 6
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        90,
        430
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "id": "5d25895b-2b56-48d8-9fb9-ace891e3c02d"
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-21T12:42:47.229Z",
  "versionId": "b74a534f-d200-45fd-b5bf-38750534a284"
}