workflows/Send a notification to Slack when a new high-quality lead is added to Hubspot.json
{
  "active": false,
  "connections": {
    "Trigger every 5 minutes": {
      "main": [
        [
          {
            "node": "Get leads created last 5 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get leads created last 5 minutes": {
      "main": [
        [
          {
            "node": "Keep the ones that make more than $5M in revenue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep the ones that make more than $5M in revenue": {
      "main": [
        [
          {
            "node": "Notify sales rep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-11T09:12:45.580Z",
  "id": "W4bSIQ43aTZRwURt",
  "meta": {
    "templateId": "2131"
  },
  "name": "Send a notification to Slack when a new high-quality lead is added to Hubspot",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "company",
        "operation": "getRecentlyCreatedUpdated",
        "returnAll": true,
        "additionalFields": {
          "since": "={{ $now.minus({ \"minutes\": 5 }) }}"
        }
      },
      "id": "8b2dad6b-9771-4351-bddc-819746cb04c1",
      "name": "Get leads created last 5 minutes",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        960,
        280
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "list",
          "value": "U0361884CU9",
          "cachedResultName": "ricardo"
        },
        "text": "=New high-quality lead 🤑\n*Company Name*: {{ $json.properties.name.value }} \n*Website*: {{ $json.properties.website.value }}\n*Revenue*: {{ $json.properties.annualrevenue.value }}\n*Number of employees*: {{ $json.properties.numberofemployees.value }}",
        "otherOptions": {}
      },
      "id": "63db576a-6bb7-4215-88f3-98e304081b3e",
      "name": "Notify sales rep",
      "type": "n8n-nodes-base.slack",
      "position": [
        1500,
        280
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Setup\n1. Add `Hubspot` and `Slack` credentials.\n2. Adjust polling time.\n3. Enable the workflow.",
        "height": 176.97404402400312,
        "width": 257.64008049230523
      },
      "id": "2b12fb75-ec81-4d2c-a8bb-12ff2bb7e935",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "5c4235de-c7fe-43fc-a351-69e928ba2673",
      "name": "Trigger every 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        700,
        280
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "`Since` parameter should match the polling time.",
        "height": 282.2830454675093,
        "width": 225.41119920533646,
        "color": 7
      },
      "id": "7af59e19-893a-477a-ba21-4c1c151ffea4",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Adjust condition to filter leads by your desire condition. e.g, revenue, number of employees, etc.",
        "height": 276.3308728978709,
        "width": 223.7628185364029,
        "color": 7
      },
      "id": "123ad2e5-f4f2-4411-bf03-5668124b8757",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1180,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1b31b826-e87d-425f-a65d-370b4b20f7e1",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.properties.annualrevenue.value.toInt() }}",
              "rightValue": 5000000
            }
          ]
        },
        "options": {}
      },
      "id": "4263cd25-dcf3-4521-b716-0ce48d3b2c26",
      "name": "Keep the ones that make more than $5M in revenue",
      "type": "n8n-nodes-base.filter",
      "position": [
        1240,
        280
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "Send notification to slack with the desired information.",
        "height": 276.3308728978709,
        "width": 223.7628185364029,
        "color": 7
      },
      "id": "ba1a4a6c-a734-45c7-bb05-df0810a2253b",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        180
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-11T09:05:52.167Z",
      "updatedAt": "2024-08-11T09:14:06.583Z",
      "id": "zlJZt3Fo1ZYAvCNp",
      "name": "sales & marketing"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-08-11T09:12:45.580Z",
  "versionId": "673ff9f2-262a-4a36-8fb7-7a70c7a224d5"
}