workflows/Time entry is created in Toggl to SM v0.1.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "GET TimeEntries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET TimeEntries": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Check if the TimeEntry exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "lookup_toggl_project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the TimeEntry exist": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create timeEntry in SM": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_toggl_client": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_toggl_project": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "lookup_toggl_client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create timeEntry in SM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-24T15:59:29.024Z",
  "id": "kK4iRyooZuw4aiBT",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Time entry is created in Toggl to SM v0.1",
  "nodes": [
    {
      "parameters": {},
      "id": "6ebc9bb2-c8cf-47d9-bb13-d76205034052",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1480,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://api.track.toggl.com/api/v9/me/time_entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "ed85094c-60bb-41b1-9c75-549f6ec937ab",
      "name": "GET TimeEntries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        700
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "bVbx51fQToa3mOMj",
          "name": "Toggle credentials"
        }
      }
    },
    {
      "parameters": {},
      "id": "c7dfdebb-9e92-405a-bcd9-24f30c7fbc0a",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2140,
        700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c8db968-dba9-487e-8662-fc865f0f05a5",
              "name": "id",
              "value": "={{ $('GET TimeEntries').item.json.id }}",
              "type": "number"
            },
            {
              "id": "b825be1f-16b0-4fa0-b4ba-e6d83ebdab2f",
              "name": "workspace_id",
              "value": "={{ $('GET TimeEntries').item.json.workspace_id }}",
              "type": "number"
            },
            {
              "id": "154f13dc-8367-4f2d-a6b6-959d4c5fc648",
              "name": "project_id",
              "value": "={{ $('GET TimeEntries').item.json.project_id }}",
              "type": "number"
            },
            {
              "id": "99ba0edc-f09e-4bf9-a610-ed5ab097e939",
              "name": "task_id",
              "value": "={{ $('GET TimeEntries').item.json.task_id }}",
              "type": "string"
            },
            {
              "id": "1221fcae-d5a7-40c4-882b-79066ab82757",
              "name": "billable",
              "value": "={{ $('GET TimeEntries').item.json.billable }}",
              "type": "boolean"
            },
            {
              "id": "52aa66fb-1854-4792-ae60-5b7070636752",
              "name": "start",
              "value": "={{ $('GET TimeEntries').item.json.start }}",
              "type": "string"
            },
            {
              "id": "169c3904-afab-4f60-a80b-dae7e6599053",
              "name": "stop",
              "value": "={{ $('GET TimeEntries').item.json.stop }}",
              "type": "string"
            },
            {
              "id": "bb7f3acf-18a5-45f3-9fbf-911c291f7986",
              "name": "duration",
              "value": "={{ $('GET TimeEntries').item.json.duration }}",
              "type": "number"
            },
            {
              "id": "7435e15d-3236-494e-9ae9-41f3989d92a7",
              "name": "description",
              "value": "={{ $('GET TimeEntries').item.json.description }}",
              "type": "string"
            },
            {
              "id": "13f9e772-1d73-4926-873f-3f2529d0bf4a",
              "name": "tags",
              "value": "={{ $('GET TimeEntries').item.json.tags }}",
              "type": "array"
            },
            {
              "id": "1b4620a4-f35a-4347-9a55-cf6fe8674893",
              "name": "tag_ids",
              "value": "={{ $('GET TimeEntries').item.json.tag_ids }}",
              "type": "array"
            },
            {
              "id": "5be470b4-9dd5-4af9-8bde-5f1ab2b0b52e",
              "name": "duronly",
              "value": "={{ $('GET TimeEntries').item.json.duronly }}",
              "type": "boolean"
            },
            {
              "id": "2b07c69d-4131-4543-b468-bff6bf2e5c33",
              "name": "at",
              "value": "={{ $('GET TimeEntries').item.json.at }}",
              "type": "string"
            },
            {
              "id": "8edae5f5-ea5a-449f-8e62-4e1763fa74d7",
              "name": "server_deleted_at",
              "value": "={{ $('GET TimeEntries').item.json.server_deleted_at }}",
              "type": "string"
            },
            {
              "id": "3bacbcc3-2064-4673-b435-f936e79e5af6",
              "name": "user_id",
              "value": "={{ $('GET TimeEntries').item.json.user_id }}",
              "type": "number"
            },
            {
              "id": "833f0e4c-3bcd-4aca-b56c-896c4dcb5f57",
              "name": "uid",
              "value": "={{ $('GET TimeEntries').item.json.uid }}",
              "type": "number"
            },
            {
              "id": "21c49490-3190-4e23-b3c2-e09fba0bf4f0",
              "name": "wid",
              "value": "={{ $('GET TimeEntries').item.json.wid }}",
              "type": "number"
            },
            {
              "id": "eb2aaeca-f608-4400-a880-98e1ac3efa2f",
              "name": "pid",
              "value": "={{ $('GET TimeEntries').item.json.pid }}",
              "type": "number"
            },
            {
              "id": "34488200-d3e8-4d0d-9bd6-f5237a62b014",
              "name": "permissions",
              "value": "={{ $('GET TimeEntries').item.json.permissions }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9af03add-d876-481f-a6c8-67371f8dc1a2",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        700
      ]
    },
    {
      "parameters": {
        "otherOptions": {}
      },
      "id": "363fa242-074d-4c44-808d-1ee4056ce5ad",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        4000,
        580
      ]
    },
    {
      "parameters": {
        "attachments": [],
        "otherOptions": {}
      },
      "id": "9f1fac66-3f94-4388-97e3-7436b528e056",
      "name": "Mattermost",
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        4000,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/668ecb995b7d04577b9a4190/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"direction\": \"asc\",\n      \"field\": \"sac94990b3\"\n    }\n  ],\n  \"filter\": {\n    \"operator\": \"and\",\n    \"fields\": [\n      {\n       \"field\": \"sac94990b3\",\n       \"comparison\": \"is_not_equal_to\",\n       \"value\": \"{{ $json.id }}\"\n      }\n    ]\n  }\n}  ",
        "options": {}
      },
      "id": "0ae41d55-845e-4a8f-8817-a53844787a65",
      "name": "Check if the TimeEntry exist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/668ecb995b7d04577b9a4190/records/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.start }} - {{ $json.description }}\",\n  \"description\": \"{{ $json.name }} - {{ $json.description }}\",\n  \"stoplight_status\": \"1\",\n  \"s88e7dacd4\": {\n    \"value\": \"ready_for_review\"\n  },\n  \"s7e18ac595\": \"{{ $json.billable }}\", \n  \"s388b58221\": \"{{ $json.client_name }}\",\n  \"sf78e2e067\": \"{{ $json.duration }}\",\n  \"sac94990b3\": \"{{ $json.time_entry_id }}\",\n  \"se64e66b7d\": \"{{ $json.pid }}\",\n  \"s104c552d1\": \"{{ $json.project_id }}\",\n  \"sf7335e6da\": \"{{ $json.project_name }}\",\n  \"s462427aec\": \"{{ $json.workspace_id }}\",\n  \"saf4ce5701\": \"{{ $json.task_id }}\",\n  \"sa60c2dda1\": \"{{ $json.start }}\",\n  \"sa7b8b841b\": \"{{ $json.stop }}\",\n  \"sa7a9c2140\": \"{{ $json.tags }}\",\n  \"se2afa90b2\": \"{{ $json.tag_ids }}\",\n  \"s8ce8d1b63\": \"{{ $json.duronly }}\",\n  \"s875daacbd\": \"{{ $json.at }}\",\n  \"s160017cbb\": \"{{ $json.server_deleted_at }}\",\n  \"s93e0bbcaa\": \"{{ $json.user_id }}\",\n  \"s5a8e4c60d\": \"{{ $json.uid }}\",\n  \"s4c2ea1202\": \"{{ $json.wid }}\",\n  \"s8e3e58cad\": \"{{ $json.client_id }}\"\n}\n",
        "options": {}
      },
      "id": "ced9d65b-3f1c-40f6-bd89-e24ec69e4cfb",
      "name": "Create timeEntry in SM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        700
      ]
    },
    {
      "parameters": {
        "content": "## Reference Toggl",
        "height": 541.0123448220287,
        "width": 1079.1712659636287
      },
      "id": "a7bb7ad1-6bda-4d3f-8b59-018d7b92f9fd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2500,
        500
      ]
    },
    {
      "parameters": {
        "content": "## SmartSuite",
        "height": 329.3037901061815,
        "width": 278.75835396816683
      },
      "id": "53c913c9-0173-4b55-b1f0-f5a955442617",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3660,
        600
      ]
    },
    {
      "parameters": {
        "content": "## Toggle Tiem Entries",
        "height": 308.71737923375906
      },
      "id": "9828c4f5-bda3-41aa-8daa-d23f212c373e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1640,
        600
      ]
    },
    {
      "parameters": {
        "url": "=https://api.track.toggl.com/api/v9/workspaces/{{ $json.workspace_id }}/clients",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic amFja29Ab2NvZGUzNjAuY29tOkFHWV9ucWcqenh2M2FteDNtd2U="
            }
          ]
        },
        "options": {}
      },
      "id": "b3d88ab4-b279-4450-8437-03ea24da5541",
      "name": "lookup_toggl_client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        580
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "bVbx51fQToa3mOMj",
          "name": "Toggle credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.track.toggl.com/api/v9/workspaces/{{ $json.workspace_id }}/projects/{{ $json.project_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic amFja29Ab2NvZGUzNjAuY29tOkFHWV9ucWcqenh2M2FteDNtd2U="
            }
          ]
        },
        "options": {}
      },
      "id": "98450567-4590-4750-91e3-fc1f4351b801",
      "name": "lookup_toggl_project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        800
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "bVbx51fQToa3mOMj",
          "name": "Toggle credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "72a690fe-5300-4a8a-81a5-ecad768785d5",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('Remove Duplicates').item.json.client_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d2dcaaf9-5e17-48d6-90b0-f33857959283",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3000,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "72a690fe-5300-4a8a-81a5-ecad768785d5",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('Check TimeEntry').item.json.project_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "757e2b7b-fabe-4a3e-a86a-af097d72c96d",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3020,
        800
      ]
    },
    {
      "parameters": {},
      "id": "1133bd8f-601c-4e9a-8ef4-47990abc03e6",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        3240,
        780
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 3,
        "query": "with \n  client_ref as\n  (\n  select * from input1\n  )\n  SELECT \n      client_ref.id as client_id, \n      client_ref.name as client_name,\n      client_ref.wid as client_wid,\n      client_ref.archived as client_archived, \n      client_ref.at as client_created_at,\n      client_ref.creator_id as client_created_id,\n      a.id as time_entry_id,\n      a.*,\n      b.id as project_id, \n      b.name as project_name, \n      b.*\n  FROM input2 a, \n      input3 b\n         inner join client_ref on client_ref.id = b.client_id\nWHERE a.project_id = b.id"
      },
      "id": "75adc39f-3947-4488-a8f7-e90f53f02fe6",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3440,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f3c0600b-1546-4815-a01e-852b62f1abd4",
              "leftValue": "=\"{{ $json.stop }}\"",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0749669b-4d6f-4eba-841c-1f1c04aa1f1d",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1940,
        700
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Johannesburg",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-07-30T07:01:42.000Z",
  "versionId": "2d9d1c2a-c5df-4172-bee1-5396784a87d9"
}