workflows/Time entry is created in Toggl to SM v0.1.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "GET TimeEntries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET TimeEntries": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Check if the TimeEntry exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the TimeEntry exist": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create timeEntry in SM": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_toggl_client": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_toggl_project": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "lookup SMCliient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "lookup_toggl_client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lookup SM Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup SM Project": {
      "main": [
        [
          {
            "node": "Pass 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Pass  3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass 1": {
      "main": [
        [
          {
            "node": "lookup_toggl_project",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "lookup SMCliient": {
      "main": [
        [
          {
            "node": "Pass  3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create timeEntry in SM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Pass 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-24T15:59:29.024Z",
  "id": "kK4iRyooZuw4aiBT",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Time entry is created in Toggl to SM v0.1",
  "nodes": [
    {
      "parameters": {},
      "id": "6ebc9bb2-c8cf-47d9-bb13-d76205034052",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        840,
        720
      ]
    },
    {
      "parameters": {
        "url": "https://api.track.toggl.com/api/v9/me/time_entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "ed85094c-60bb-41b1-9c75-549f6ec937ab",
      "name": "GET TimeEntries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        720
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "bVbx51fQToa3mOMj",
          "name": "Toggle credentials"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "c7dfdebb-9e92-405a-bcd9-24f30c7fbc0a",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1560,
        700
      ]
    },
    {
      "parameters": {
        "otherOptions": {}
      },
      "id": "363fa242-074d-4c44-808d-1ee4056ce5ad",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        4500,
        600
      ],
      "disabled": true
    },
    {
      "parameters": {
        "channelId": "jpqr5pw497dxf8kirt96t4ar5r",
        "attachments": [],
        "otherOptions": {}
      },
      "id": "9f1fac66-3f94-4388-97e3-7436b528e056",
      "name": "Mattermost",
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        4500,
        820
      ],
      "credentials": {
        "mattermostApi": {
          "id": "VGOFEEFurY7VTUJP",
          "name": "Mattermost account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/668ecb995b7d04577b9a4190/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "options": {}
      },
      "id": "0ae41d55-845e-4a8f-8817-a53844787a65",
      "name": "Check if the TimeEntry exist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/668ecb995b7d04577b9a4190/records/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.start }} - {{ $json.description }}\",\n  \"description\": \"{{ $json.name }} - {{ $json.description }}\",\n  \"stoplight_status\": \"1\",\n  \"s88e7dacd4\": {\n    \"value\": \"ready_for_review\"\n  },\n  \"s7e18ac595\": \"{{ $json.billable }}\", \n  \"s388b58221\": \"{{ $json.client_name }}\",\n  \"sf78e2e067\": \"{{ $json.duration }}\",\n  \"sac94990b3\": \"{{ $json.time_entry_id }}\",\n  \"se64e66b7d\": \"{{ $json.pid }}\",\n  \"s104c552d1\": \"{{ $json.project_id }}\",\n  \"sf7335e6da\": \"{{ $json.project_name }}\",\n  \"s462427aec\": \"{{ $json.workspace_id }}\",\n  \"saf4ce5701\": \"{{ $json.task_id }}\",\n  \"sa60c2dda1\": \"{{ $json.start }}\",\n  \"sa7b8b841b\": \"{{ $json.stop }}\",\n  \"sa7a9c2140\": \"{{ $json.tags }}\",\n  \"se2afa90b2\": \"{{ $json.tag_ids }}\",\n  \"s8ce8d1b63\": \"{{ $json.duronly }}\",\n  \"s875daacbd\": \"{{ $json.at }}\",\n  \"s160017cbb\": \"{{ $json.server_deleted_at }}\",\n  \"s93e0bbcaa\": \"{{ $json.user_id }}\",\n  \"s5a8e4c60d\": \"{{ $json.uid }}\",\n  \"s4c2ea1202\": \"{{ $json.wid }}\",\n  \"s8e3e58cad\": \"{{ $json.client_id }}\",\n  \"sbca20347b\": \"{{ $json.proj_record_id }}\",\n  \"s4621e0408\": \"{{ $json.client_record_id }}\"\n}\n ",
        "options": {}
      },
      "id": "ced9d65b-3f1c-40f6-bd89-e24ec69e4cfb",
      "name": "Create timeEntry in SM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        700
      ]
    },
    {
      "parameters": {
        "content": "## Reference Toggl",
        "height": 541.0123448220287,
        "width": 1349.2597151998602
      },
      "id": "a7bb7ad1-6bda-4d3f-8b59-018d7b92f9fd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2480,
        500
      ]
    },
    {
      "parameters": {
        "content": "## SmartSuite",
        "height": 329.3037901061815,
        "width": 278.75835396816683
      },
      "id": "53c913c9-0173-4b55-b1f0-f5a955442617",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3900,
        600
      ]
    },
    {
      "parameters": {
        "content": "## Toggle Tiem Entries",
        "height": 308.71737923375906
      },
      "id": "9828c4f5-bda3-41aa-8daa-d23f212c373e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        620
      ]
    },
    {
      "parameters": {
        "url": "=https://api.track.toggl.com/api/v9/workspaces/{{ $json.workspace_id }}/clients",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic amFja29Ab2NvZGUzNjAuY29tOkFHWV9ucWcqenh2M2FteDNtd2U="
            }
          ]
        },
        "options": {}
      },
      "id": "b3d88ab4-b279-4450-8437-03ea24da5541",
      "name": "lookup_toggl_client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        580
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "bVbx51fQToa3mOMj",
          "name": "Toggle credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.track.toggl.com/api/v9/workspaces/{{ $json.workspace_id }}/projects/{{ $json.project_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic amFja29Ab2NvZGUzNjAuY29tOkFHWV9ucWcqenh2M2FteDNtd2U="
            }
          ]
        },
        "options": {}
      },
      "id": "98450567-4590-4750-91e3-fc1f4351b801",
      "name": "lookup_toggl_project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        820
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "bVbx51fQToa3mOMj",
          "name": "Toggle credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "72a690fe-5300-4a8a-81a5-ecad768785d5",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('Remove Duplicates').item.json.client_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d2dcaaf9-5e17-48d6-90b0-f33857959283",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2780,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "72a690fe-5300-4a8a-81a5-ecad768785d5",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('Pass 1').item.json.project_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "757e2b7b-fabe-4a3e-a86a-af097d72c96d",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2780,
        820
      ]
    },
    {
      "parameters": {},
      "id": "1133bd8f-601c-4e9a-8ef4-47990abc03e6",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        3000,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/65b0c1654050e485a501517d/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"direction\": \"asc\",\n      \"field\": \"sf698fb364\"\n    }\n  ],\n  \"filter\": {\n    \"operator\": \"and\",\n    \"fields\": [\n      {\n       \"field\": \"sf698fb364\",\n       \"comparison\": \"is_equal_to\",\n       \"value\": \"{{ $json.id }}\"\n      }\n    ]\n  }\n}   ",
        "options": {}
      },
      "id": "903477dc-5d65-4253-ae94-eb7f4ea7c2e4",
      "name": "Lookup SM Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        820
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "id": "cf7d937a-9797-4c62-8c0d-b37214b77d56",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4260,
        700
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bae4cdb-e441-48c8-8c0b-37d282e8bcaa",
              "name": "record_id",
              "value": "={{ $json.items[0].id }}",
              "type": "string"
            },
            {
              "id": "3ae977a8-3ab7-4570-8487-4e9a124c56fd",
              "name": "id",
              "value": "={{ $('Remove Duplicates').item.json.id }}",
              "type": "number"
            },
            {
              "id": "416e681b-48b9-4704-9808-931bf9e9bc76",
              "name": "workspace_id",
              "value": "={{ $('Remove Duplicates').item.json.workspace_id }}",
              "type": "number"
            },
            {
              "id": "56a887bf-c0be-4c2a-96ec-fc368836ba29",
              "name": "client_id",
              "value": "={{ $('Remove Duplicates').item.json.client_id }}",
              "type": "number"
            },
            {
              "id": "09edce2a-cbdf-4e5f-bb28-03b32fecfe83",
              "name": "name",
              "value": "={{ $('Remove Duplicates').item.json.name }}",
              "type": "string"
            },
            {
              "id": "013f122d-4b0a-49e2-b519-aed7f4d32cd9",
              "name": "is_private",
              "value": "={{ $('Remove Duplicates').item.json.is_private }}",
              "type": "boolean"
            },
            {
              "id": "2ebe596f-05ee-415e-ac3f-8acfd599fb3f",
              "name": "active",
              "value": "={{ $('Remove Duplicates').item.json.active }}",
              "type": "boolean"
            },
            {
              "id": "e55add26-57a0-4a5e-9a46-8a43c677f979",
              "name": "at",
              "value": "={{ $('Remove Duplicates').item.json.at }}",
              "type": "string"
            },
            {
              "id": "4ad848f8-c95f-4341-b61b-734a6fc2dbd8",
              "name": "server_deleted_at",
              "value": "={{ $('Remove Duplicates').item.json.server_deleted_at }}",
              "type": "string"
            },
            {
              "id": "1960a8a7-c61a-40c1-88d8-77e286c631b2",
              "name": "actual_hours",
              "value": "={{ $('Remove Duplicates').item.json.actual_hours }}",
              "type": "number"
            },
            {
              "id": "832a6a1f-2765-45ea-97e5-1e5a605591ce",
              "name": "actual_seconds",
              "value": "={{ $('Remove Duplicates').item.json.actual_seconds }}",
              "type": "number"
            },
            {
              "id": "f51cb229-b0d8-4604-9cb7-ca4b2bde3e03",
              "name": "status",
              "value": "={{ $('Remove Duplicates').item.json.status }}",
              "type": "string"
            },
            {
              "id": "69a33ab3-2374-4c89-8adb-4a0e5f1e599d",
              "name": "start_date",
              "value": "={{ $('Remove Duplicates').item.json.start_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f926ab5b-b0fc-426d-bef5-c27c2af4e384",
      "name": "Pass 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3420,
        820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9031587b-91d4-4f68-a03b-f102a3d730d6",
              "name": "record_id",
              "value": "={{ $json.items[0].id }}",
              "type": "string"
            },
            {
              "id": "58c8010a-e889-4d7b-a3e8-fc2f07075f2c",
              "name": "id",
              "value": "={{ $('If1').item.json.id }}",
              "type": "number"
            },
            {
              "id": "0d28fa75-dc41-4923-8847-e18d489eac19",
              "name": "wid",
              "value": "={{ $('If1').item.json.wid }}",
              "type": "number"
            },
            {
              "id": "5b381b19-8891-46c4-a616-591f4626dc80",
              "name": "archived",
              "value": "={{ $('If1').item.json.archived }}",
              "type": "boolean"
            },
            {
              "id": "ce84e29f-987f-45aa-89b8-046c6f0d9db8",
              "name": "name",
              "value": "={{ $('If1').item.json.name }}",
              "type": "string"
            },
            {
              "id": "2b6fb491-a6f8-4dec-bfcf-10daa3563a1f",
              "name": "at",
              "value": "={{ $('If1').item.json.at }}",
              "type": "string"
            },
            {
              "id": "f99e8599-1708-4ec7-815b-0d7b8a8d0900",
              "name": "creator_id",
              "value": "={{ $('If1').item.json.creator_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "31e10849-bee0-4c43-b0ca-978c283e7d53",
      "name": "Pass  3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3260,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c8db968-dba9-487e-8662-fc865f0f05a5",
              "name": "id",
              "value": "={{ $('GET TimeEntries').item.json.id }}",
              "type": "number"
            },
            {
              "id": "b825be1f-16b0-4fa0-b4ba-e6d83ebdab2f",
              "name": "workspace_id",
              "value": "={{ $('GET TimeEntries').item.json.workspace_id }}",
              "type": "number"
            },
            {
              "id": "154f13dc-8367-4f2d-a6b6-959d4c5fc648",
              "name": "project_id",
              "value": "={{ $('GET TimeEntries').item.json.project_id }}",
              "type": "number"
            },
            {
              "id": "99ba0edc-f09e-4bf9-a610-ed5ab097e939",
              "name": "task_id",
              "value": "={{ $('GET TimeEntries').item.json.task_id }}",
              "type": "string"
            },
            {
              "id": "1221fcae-d5a7-40c4-882b-79066ab82757",
              "name": "billable",
              "value": "={{ $('GET TimeEntries').item.json.billable }}",
              "type": "boolean"
            },
            {
              "id": "52aa66fb-1854-4792-ae60-5b7070636752",
              "name": "start",
              "value": "={{ $('GET TimeEntries').item.json.start }}",
              "type": "string"
            },
            {
              "id": "169c3904-afab-4f60-a80b-dae7e6599053",
              "name": "stop",
              "value": "={{ $('GET TimeEntries').item.json.stop }}",
              "type": "string"
            },
            {
              "id": "bb7f3acf-18a5-45f3-9fbf-911c291f7986",
              "name": "duration",
              "value": "={{ $('GET TimeEntries').item.json.duration }}",
              "type": "number"
            },
            {
              "id": "7435e15d-3236-494e-9ae9-41f3989d92a7",
              "name": "description",
              "value": "={{ $('GET TimeEntries').item.json.description }}",
              "type": "string"
            },
            {
              "id": "13f9e772-1d73-4926-873f-3f2529d0bf4a",
              "name": "tags",
              "value": "={{ $('GET TimeEntries').item.json.tags }}",
              "type": "array"
            },
            {
              "id": "1b4620a4-f35a-4347-9a55-cf6fe8674893",
              "name": "tag_ids",
              "value": "={{ $('GET TimeEntries').item.json.tag_ids }}",
              "type": "array"
            },
            {
              "id": "5be470b4-9dd5-4af9-8bde-5f1ab2b0b52e",
              "name": "duronly",
              "value": "={{ $('GET TimeEntries').item.json.duronly }}",
              "type": "boolean"
            },
            {
              "id": "2b07c69d-4131-4543-b468-bff6bf2e5c33",
              "name": "at",
              "value": "={{ $('GET TimeEntries').item.json.at }}",
              "type": "string"
            },
            {
              "id": "8edae5f5-ea5a-449f-8e62-4e1763fa74d7",
              "name": "server_deleted_at",
              "value": "={{ $('GET TimeEntries').item.json.server_deleted_at }}",
              "type": "string"
            },
            {
              "id": "3bacbcc3-2064-4673-b435-f936e79e5af6",
              "name": "user_id",
              "value": "={{ $('GET TimeEntries').item.json.user_id }}",
              "type": "number"
            },
            {
              "id": "833f0e4c-3bcd-4aca-b56c-896c4dcb5f57",
              "name": "uid",
              "value": "={{ $('GET TimeEntries').item.json.uid }}",
              "type": "number"
            },
            {
              "id": "21c49490-3190-4e23-b3c2-e09fba0bf4f0",
              "name": "wid",
              "value": "={{ $('GET TimeEntries').item.json.wid }}",
              "type": "number"
            },
            {
              "id": "eb2aaeca-f608-4400-a880-98e1ac3efa2f",
              "name": "pid",
              "value": "={{ $('GET TimeEntries').item.json.pid }}",
              "type": "number"
            },
            {
              "id": "34488200-d3e8-4d0d-9bd6-f5237a62b014",
              "name": "permissions",
              "value": "={{ $('GET TimeEntries').item.json.permissions }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9af03add-d876-481f-a6c8-67371f8dc1a2",
      "name": "Pass 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2260,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/657c055059b633d6009e1e42/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"direction\": \"asc\",\n      \"field\": \"s9c89ee2fe\"\n    }\n  ],\n  \"filter\": {\n    \"operator\": \"and\",\n    \"fields\": [\n      {\n       \"field\": \"s9c89ee2fe\",\n       \"comparison\": \"is_equal_to\",\n       \"value\": \"{{ $json.id }}\"\n      }\n    ]\n  }\n} ",
        "options": {}
      },
      "id": "e6e6ea50-45c1-4518-b493-41f8fb267625",
      "name": "lookup SMCliient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        560
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 3,
        "query": "with \n  client_ref as\n  (\n  select * from input1\n  )\n  SELECT \n      client_ref.id as client_id, \n      client_ref.name as client_name,\n      client_ref.wid as client_wid,\n      client_ref.archived as client_archived, \n      client_ref.at as client_created_at,\n      client_ref.creator_id as client_created_id,\n      client_ref.record_id as client_record_id,\n      a.id as time_entry_id,\n      a.*,\n      b.record_id as proj_record_id,\n      b.id as project_id, \n      b.name as project_name, \n      b.*\n  FROM input2 a, \n      input3 b\n         inner join client_ref on client_ref.id = b.client_id\nWHERE a.project_id = b.id"
      },
      "id": "75adc39f-3947-4488-a8f7-e90f53f02fe6",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3660,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d8ce5860-17d2-448b-a7dd-c1e76b7dd5bf",
              "leftValue": "={{ $json.stop }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f725e831-65ae-4a04-b626-374d60991217",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "95c6fdd4-dccf-4c75-9bf2-bba4b36239ec",
              "leftValue": "=\"{{ $('Limit').item.json.id }}\"",
              "rightValue": "={{ $json.items[0].sac94990b3 }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e970396-661b-47c6-ad0c-13d27afc1547",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        700
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Johannesburg",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-07-30T21:29:32.000Z",
  "versionId": "1276527f-88e8-4fa2-b910-267f54ec5b62"
}