workflows/Track changes of product prices 2.json
{
  "active": false,
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "changeME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "NotifyBetterPrice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "savedItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "NotifyIncorrectPrice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkifexists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "initItem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "changeME": {
      "main": [
        [
          {
            "node": "initItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetchWeb": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initItem": {
      "main": [
        [
          {
            "node": "fetchWeb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initItem1": {
      "main": [
        [
          {
            "node": "changeME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveToFile": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "savedItems": {
      "main": [
        [
          {
            "node": "itemsToJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "itemsToJSON": {
      "main": [
        [
          {
            "node": "updateSavedItems1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Move Binary Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "getActualPrice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonToBinary": {
      "main": [
        [
          {
            "node": "SaveToFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkifexists": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getActualPrice": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateSavedItems": {
      "main": [
        [
          {
            "node": "JsonToBinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data1": {
      "main": [
        [
          {
            "node": "Write Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NotifyBetterPrice": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateSavedItems1": {
      "main": [
        [
          {
            "node": "updateSavedItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NotifyIncorrectPrice": {
      "main": [
        [
          {
            "node": "checkifexists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-09T21:37:22.286Z",
  "id": "z6HDdXAoIEoT321m",
  "meta": {
    "templateId": "837"
  },
  "name": "Track changes of product prices 2",
  "nodes": [
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "price",
              "cssSelector": "={{$node[\"initItem\"].json[\"selector\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1450,
        410
      ],
      "typeVersion": 1,
      "id": "ac595497-bcf3-43b2-83c3-fda510e8669b"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        380,
        410
      ],
      "typeVersion": 1,
      "id": "380ec4c9-4ae7-4627-946e-90485743c282"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nvar price = String(item.price).replace(\",\", \".\");\nprice = parseFloat(price);\n//price = price.replace(/\\D/g, '');\n//item.price = String(item.price).replace(\",\", \".\");\n//item.price = parseFloat(item.price);\n\nitem.priceExists = (price > 0 ? true : false)\nitem.price = price;\n\n// Update its data\nglobalData.actualPrice = item;\n\nreturn item;"
      },
      "name": "getActualPrice",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        1650,
        410
      ],
      "typeVersion": 1,
      "id": "c8a09505-333b-40dd-8a1e-66f39984c1c6"
    },
    {
      "parameters": {
        "url": "={{$node[\"initItem\"].json[\"link\"]}}",
        "responseFormat": "string",
        "options": {}
      },
      "name": "fetchWeb",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1260,
        410
      ],
      "typeVersion": 1,
      "id": "8bef7250-03fc-4f77-bc7d-f2fd631352a9"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nglobalData.iteration = 0;\n//var thiselem = $node[\"initItem\"].json;\n\n//const s1 = {'slug': thiselem.slug, \"link\": thiselem.link, \"selector\": thiselem.selector, \"price\":$node[\"getActualPrice\"].json.price, \"currency\": thiselem.currency};\n//const s2 = {'slug': thiselem.slug+'2', \"link\": thiselem.link, \"selector\": thiselem.selector, \"price\":$node[\"getActualPrice\"].json.price, \"currency\": thiselem.currency};\n//const s3 = {'slug': thiselem.slug+'3', \"link\": thiselem.link, \"selector\": thiselem.selector, \"price\":$node[\"getActualPrice\"].json.price, \"currency\": thiselem.currency};\n\nreturn $node[\"changeME\"].json.myWatchers;\n"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        2690,
        410
      ],
      "typeVersion": 1,
      "id": "a752e308-3e07-4625-895a-ffc81144b45f"
    },
    {
      "parameters": {
        "fileName": "/data/kopacky.json",
        "dataPropertyName": "=price",
        "options": {}
      },
      "name": "Write Binary File1",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        3520,
        410
      ],
      "typeVersion": 1,
      "id": "eda32b03-331b-408f-9eb0-8fd9dca61f84"
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "destinationKey": "price",
        "options": {}
      },
      "name": "Move Binary Data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        3090,
        410
      ],
      "typeVersion": 1,
      "id": "eddc428e-92fe-4952-89d4-552ae8e95be6"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"checkifexists\"].json[\"stdout\"]}}",
              "operation": "notEqual",
              "value2": "Exists"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "position": [
        2220,
        430
      ],
      "typeVersion": 1,
      "id": "53f6e79e-06d8-4022-b916-d476c3bb2247"
    },
    {
      "parameters": {
        "command": "if [ -r /data/kopacky.json ]; then echo Exists; fi"
      },
      "name": "checkifexists",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        2080,
        430
      ],
      "typeVersion": 1,
      "id": "e740adc4-7124-41cb-86b2-8680d57900b8"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"checkifexists\"].json[\"stdout\"]}}",
              "value2": "Exists"
            }
          ]
        }
      },
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "position": [
        2350,
        910
      ],
      "typeVersion": 1,
      "id": "2d173aa5-6bcd-4706-ac96-0be5a596653e"
    },
    {
      "parameters": {
        "fileName": "/data/kopacky.json",
        "dataPropertyName": "=price",
        "options": {}
      },
      "name": "SaveToFile",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        3320,
        910
      ],
      "typeVersion": 1,
      "id": "e357519c-4edb-45f3-89e6-0400ff8ea9ad"
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "destinationKey": "price",
        "options": {}
      },
      "name": "JsonToBinary",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        3170,
        910
      ],
      "typeVersion": 1,
      "id": "6724466d-b105-46f0-bf6f-33b09b25e067"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\n//{'slug': 'kopacky', 'link': 'https://www.adsport.sk/kopacky-lisovky-adidas-x-19-3-ll-fg-ef0598/#1131861', 'currency': 'EUR'}[]\nvar myWatchers = [\n{'slug': 'kopacky', 'link': 'https://www.adsport.sk/kopacky-lisovky-adidas-x-19-3-ll-fg-ef0598/#1131861', 'selector':'.prices > strong:nth-child(1) > span:nth-child(1)', 'currency': 'EUR'},\n{'slug': 'kopacky2', 'link': 'https://www.adsport.sk/turfy-adidas-ace-tango-17-3-tf-by2203/', 'selector':'.col-xs-4 > strong:nth-child(1) > span:nth-child(1)', 'currency': 'EUR'},\n{'slug': 'mobilcek', 'link': 'https://mobil.bazos.sk/inzerat/112253662/predam-odolny-doogee-s60-52-4g-lte-nfc.php', 'selector':'.listadvlevo > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(5) > td:nth-child(2) > b:nth-child(2)', 'currency': 'EUR'},\n{'slug': 'ADIZERO RC 2', 'link': 'https://www.adsport.sk/panske-bezecke-topanky-adidas-adizero-rc-2-eg1187/', 'selector':'.col-xs-4 > strong:nth-child(1) > span:nth-child(1)', 'currency': 'EUR'}\n];\n\nitem.myWatchers = myWatchers;\nitem.watchersCount = myWatchers.length;\nglobalData.myWatchers = myWatchers;\n\nreturn item;"
      },
      "name": "changeME",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        840,
        410
      ],
      "typeVersion": 1,
      "id": "0172edc8-15e5-476d-b322-f09c1551e368"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nvar counter = globalData.iteration;\n\nitem.myWatchers[counter].watchersCount = item.watchersCount;\nitem.myWatchers[counter].canContinue = (globalData.iteration < item.watchersCount-1 ? true : false);\n//item.myWatchers[counter].canContinue = false;\n\nglobalData.iteration = counter + 1;\n\nreturn item.myWatchers[counter];"
      },
      "name": "initItem",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        1050,
        410
      ],
      "typeVersion": 1,
      "id": "db144bb3-1d6d-4bc5-a16f-968b0c31503a"
    },
    {
      "parameters": {
        "filePath": "/data/kopacky.json",
        "dataPropertyName": "savedItems"
      },
      "name": "savedItems",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2520,
        780
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "0d1a6510-4b69-40b5-966d-78cb711c6237",
      "continueOnFail": true
    },
    {
      "parameters": {
        "sourceKey": "savedItems",
        "options": {}
      },
      "name": "itemsToJSON",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        2690,
        780
      ],
      "typeVersion": 1,
      "id": "516c80c9-cd32-487f-b450-7202dcecd11d"
    },
    {
      "parameters": {
        "conditions": {
          "string": [],
          "boolean": [
            {
              "value1": "={{$node[\"initItem\"].json[\"canContinue\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        3860,
        710
      ],
      "typeVersion": 1,
      "id": "d9a39ed5-dc67-4bc1-a95c-a251171a4e04"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nglobalData.iteration = 0;\n\nreturn item;"
      },
      "name": "initItem1",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        610,
        410
      ],
      "typeVersion": 1,
      "id": "5ec34f33-11b3-46de-91f8-325893bc277e"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"getActualPrice\"].json[\"price\"]}}",
              "value2": "={{$node[\"updateSavedItems1\"].json[\"oldPrice\"]}}"
            }
          ],
          "string": []
        }
      },
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "position": [
        3520,
        910
      ],
      "typeVersion": 1,
      "id": "be8144b0-6d69-4dda-bbac-bd387d950869"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nvar myitems = [];\nvar i;\nfor (i = 0; i < item.items.length; i++) { \n  if($node[\"initItem\"].json.slug == item.items[i].slug && $node[\"getActualPrice\"].json.price < item.items[i].price) {\n    item.items[i].price = $node[\"getActualPrice\"].json.price;\n  }\n  myitems.push(item.items[i]);\n} \n\nreturn myitems;\n"
      },
      "name": "updateSavedItems",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        3020,
        910
      ],
      "typeVersion": 1,
      "id": "dfac9fb2-f500-48ff-a3ef-e1d7fea8d0ff"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\nvar oldPrice = null;\nvar myitems = [];\nvar i;\nfor (i = 0; i < item.length; i++) {\n  if($node[\"initItem\"].json.slug == item[i].slug) {\n\n    item[i].link = $node[\"initItem\"].json.link;\n    item[i].selector = $node[\"initItem\"].json.selector;\n    item[i].currency = $node[\"initItem\"].json.currency;\n    \n    if(!item[i].price){\n      item[i].price = $node[\"getActualPrice\"].json.price;\n    }\n    \n    if($node[\"getActualPrice\"].json.price < item[i].price){\n      oldPrice = item[i].price;\n      item[i].price = $node[\"getActualPrice\"].json.price;\n    }\n    \n    \n  }\n  \n  myitems.push(item[i]);\n} \n\n//item.somar = $node[\"initItem\"].json;\n//return globalData.actualPrice;\n\nvar itemm = {};\nitemm.items = myitems;\nitemm.oldPrice = oldPrice;\nreturn itemm;\n"
      },
      "name": "updateSavedItems1",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        2870,
        780
      ],
      "typeVersion": 1,
      "id": "fa8e079c-524f-4bca-b859-0ab4129303e7"
    },
    {
      "parameters": {
        "command": "file=\"/data/kopacky.json\"\n[ -f $file ] && rm $file"
      },
      "name": "cleanData",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "02740e0f-e4d5-4e15-b70f-8f17644bfdea",
      "notes": "This will remove all storaged data."
    },
    {
      "parameters": {
        "conditions": {
          "string": [],
          "boolean": [
            {
              "value1": "={{$node[\"getActualPrice\"].json[\"priceExists\"]}}"
            }
          ]
        }
      },
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "position": [
        1820,
        410
      ],
      "typeVersion": 1,
      "id": "e6800b8d-d3be-4f0e-8a20-232262ea3cbd"
    },
    {
      "parameters": {
        "fromEmail": "hostovecky@weyou.sk",
        "toEmail": "sthosstudio@gmail.com",
        "subject": "=Nová cena - {{$node[\"initItem\"].json[\"slug\"]}} - {{$node[\"getActualPrice\"].json[\"price\"]}} {{$node[\"initItem\"].json[\"currency\"]}}",
        "text": "=",
        "html": "=<h2>Nová cena je: {{$node[\"getActualPrice\"].json[\"price\"]}} {{$node[\"initItem\"].json[\"currency\"]}}</h2><br>\nPôvodná cena bola: {{$node[\"updateSavedItems1\"].json[\"oldPrice\"]}} {{$node[\"initItem\"].json[\"currency\"]}}<br>\nURL: {{$node[\"initItem\"].json[\"link\"]}}",
        "options": {}
      },
      "name": "NotifyBetterPrice",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        3520,
        710
      ],
      "typeVersion": 1,
      "id": "ea69ddb7-5ac8-4f9b-9fe8-68d6c8a67860"
    },
    {
      "parameters": {
        "fromEmail": "hostovecky@weyou.sk",
        "toEmail": "sthosstudio@gmail.com",
        "subject": "={{$node[\"initItem\"].json[\"slug\"]}} - Getting price issue.",
        "text": "=",
        "html": "=Please check the link or selector for the item with slug <strong>{{$node[\"initItem\"].json[\"slug\"]}}</strong><br>\nURL: {{$node[\"initItem\"].json[\"link\"]}}",
        "options": {}
      },
      "name": "NotifyIncorrectPrice",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1940,
        110
      ],
      "typeVersion": 1,
      "id": "061dd84a-7784-4bf5-a7a9-37938cce47e5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-09T21:37:22.286Z",
  "versionId": "d4675bf4-e3f8-42d3-9a9b-cd5ea510f858"
}