workflows/Verify emails & enrich new form leads and save them to HubSpot.json
{
  "active": false,
  "connections": {
    "Hunter": {
      "main": [
        [
          {
            "node": "Check if the email is valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich person": {
      "main": [
        [
          {
            "node": "Enrich company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich company": {
      "main": [
        [
          {
            "node": "Add lead to Hubspot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the email is valid": {
      "main": [
        [
          {
            "node": "Enrich person",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email is not valid, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-11T09:09:52.043Z",
  "id": "Vs41jmCzejAGZC7l",
  "meta": {
    "templateId": "2116"
  },
  "name": "Verify emails & enrich new form leads and save them to HubSpot",
  "nodes": [
    {
      "parameters": {
        "path": "0bf8840f-1cc4-46a9-86af-a3fa8da80608",
        "formTitle": "Contact us",
        "formDescription": "We'll get back to you soon",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What's your business email?"
            }
          ]
        },
        "options": {}
      },
      "id": "bcd8e7dc-cb7f-4e2b-a0c6-2d154cb58938",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        380,
        420
      ],
      "webhookId": "0bf8840f-1cc4-46a9-86af-a3fa8da80608",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "emailVerifier",
        "email": "={{ $json['What\\'s your business email?'] }}"
      },
      "id": "0720ab51-5222-46fe-8a1a-31e25b81920c",
      "name": "Hunter",
      "type": "n8n-nodes-base.hunter",
      "position": [
        600,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "54d84c8a-63ee-40ed-8fb2-301fff0194ba",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "valid"
            }
          ]
        },
        "options": {}
      },
      "id": "c20c626f-fd58-497f-942f-5d10f198f36d",
      "name": "Check if the email is valid",
      "type": "n8n-nodes-base.if",
      "position": [
        800,
        420
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "### 👨‍🎤 Setup\n1. Add you **Hunter**, **Clearbit** and **Hubspot** credentials\n2. Click the Test Workflow button, enter your email and check your Hubspot\n3. Activate the workflow and use the form trigger production URL to collect your leads in a smart way ",
        "height": 132,
        "width": 547,
        "color": 5
      },
      "id": "9c55911c-06b7-4291-a91d-30c0cb87b7f2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "domain": "={{ $json.employment.domain }}",
        "additionalFields": {}
      },
      "id": "4e518b0c-20e6-4fb3-8be9-c0989c750fda",
      "name": "Enrich company",
      "type": "n8n-nodes-base.clearbit",
      "position": [
        1180,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Check if the email is valid').item.json.email }}",
        "additionalFields": {
          "companyName": "={{ $('Enrich person').item.json.employment.name }}",
          "companySize": "={{ $json.metrics.employees }}",
          "firstName": "={{ $('Enrich person').item.json.name.givenName }}",
          "jobTitle": "={{ $('Enrich person').item.json.employment.title }}",
          "lastName": "={{ $('Enrich person').item.json.name.familyName }}"
        },
        "options": {}
      },
      "id": "47e8324b-c455-40b5-8769-4d2c4718de75",
      "name": "Add lead to Hubspot",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        1500,
        360
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "person",
        "email": "={{ $json.email }}",
        "additionalFields": {}
      },
      "id": "30451862-9283-44fd-a1b7-9b31bbe9cbd2",
      "name": "Enrich person",
      "type": "n8n-nodes-base.clearbit",
      "position": [
        1020,
        360
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "👆 You can exchange this with any form you like (*e.g. Typeform, Google forms, Survey Monkey...*)",
        "height": 139,
        "width": 162,
        "color": 7
      },
      "id": "c96096f2-6505-4955-bb1b-c4f903428b1d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "👆 Adjust the fields you need in your Hubspot here",
        "height": 84,
        "width": 162,
        "color": 7
      },
      "id": "751458aa-7b63-48ab-881e-d68df94a3390",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "6416c2ee-59a0-4496-bd62-0a3af06986b7",
      "name": "Email is not valid, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1020,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "👇 Idea: You could add criteria on when to add a lead to your Hubspot here. For inspiration, take a look at [this template](https://n8n.io/workflows/2106-reach-out-via-email-to-new-form-submissions-that-meet-a-certain-criteria)",
        "height": 136.49297423887586,
        "width": 162,
        "color": 7
      },
      "id": "32bc2dc2-7b5c-4fc4-bf9f-a1231c6512d0",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1300,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-11T09:05:52.167Z",
      "updatedAt": "2024-08-11T09:14:06.583Z",
      "id": "zlJZt3Fo1ZYAvCNp",
      "name": "sales & marketing"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-08-11T09:09:52.043Z",
  "versionId": "437e1ca0-4899-43d2-8c22-cdcfcf4bb2f9"
}