workflows/WF001__Time_entry_is_created_in_Toggl_to_SM_v0.01.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "GET TimeEntries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if the TimeEntry exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET TimeEntries": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Pass 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_toggl_project": {
      "main": [
        [
          {
            "node": "Lookup SM Project",
            "type": "main",
            "index": 0
          },
          {
            "node": "lookup_toggl_client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "lookup_toggl_project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup SM Project": {
      "main": [
        [
          {
            "node": "Pass 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass  3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup SMCliient": {
      "main": [
        [
          {
            "node": "Pass  3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreatetimeEntryinSM": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass 1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the TimeEntry exist": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CreatetimeEntryinSM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "lookup SMCliient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Project": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_toggl_client": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Formatting": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Pass ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass ": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Find Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass  ": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup SMCliient1": {
      "main": [
        [
          {
            "node": "Pass  ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass 3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Lookup SM Project1": {
      "main": [
        [
          {
            "node": "Pass 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates2": {
      "main": [
        [
          {
            "node": "Lookup SM Project1",
            "type": "main",
            "index": 0
          },
          {
            "node": "lookup_toggl_client1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "lookup SMCliient1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_toggl_project1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_toggl_client1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "lookup_toggl_project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the TimeEntry exist2": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate records to teams chats": {
      "main": [
        [
          {
            "node": "Mattermost1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create timeEntry in SM": {
      "main": [
        [
          {
            "node": "aggregate records to teams chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Create timeEntry in SM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-09T20:13:07.122Z",
  "id": "uWf9ACL8BfMJYVVI",
  "meta": null,
  "name": "WF001__Time_entry_is_created_in_Toggl_to_SM_v0.01",
  "nodes": [
    {
      "parameters": {},
      "id": "1bba7aec-ddee-4de9-8e10-ec1165f97194",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://api.track.toggl.com/api/v9/me/time_entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "c404707b-7573-44b0-9183-676cfb7b43b8",
      "name": "GET TimeEntries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        700
      ]
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "id": "788bca7e-368a-49ac-9087-7e457bcdfc9f",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -400,
        680
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07BLFDL917",
          "mode": "list",
          "cachedResultName": "toggl-time-captured"
        },
        "text": "={{ $json[\"message\"] }}",
        "otherOptions": {}
      },
      "id": "8ece741c-e009-40a3-bd85-ada706baae74",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2800,
        560
      ]
    },
    {
      "parameters": {
        "channelId": "jpqr5pw497dxf8kirt96t4ar5r",
        "message": "={{ $json[\"message\"] }}",
        "attachments": [
          {}
        ],
        "otherOptions": {
          "root_id": ""
        }
      },
      "id": "ac746982-f3bb-4298-a64b-ac548d622b8b",
      "name": "Mattermost",
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        2800,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/668ecb995b7d04577b9a4190/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "options": {}
      },
      "id": "521cac19-d75f-4aa6-8811-53fe419862e4",
      "name": "Check if the TimeEntry exist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        480
      ]
    },
    {
      "parameters": {
        "content": "## Reference Toggl",
        "height": 541.0123448220287,
        "width": 1468.4485804956025
      },
      "id": "179d1a56-c481-4d58-82b5-4f3cb17bae80",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "content": "## SmartSuite",
        "height": 329.3037901061815,
        "width": 228.1849366795202
      },
      "id": "2068cd03-397e-40ca-a6e3-dbbcad13bb1c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2020,
        580
      ]
    },
    {
      "parameters": {
        "content": "## Toggle Tiem Entries",
        "height": 263.20454016568175
      },
      "id": "70fd9dec-3dbd-49fa-a167-a153440e6643",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -920,
        620
      ]
    },
    {
      "parameters": {
        "url": "=https://api.track.toggl.com/api/v9/workspaces/{{ $json.workspace_id }}/projects/{{ $json.project_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic amFja29Ab2NvZGUzNjAuY29tOkFHWV9ucWcqenh2M2FteDNtd2U="
            }
          ]
        },
        "options": {}
      },
      "id": "87a067d4-353d-49a5-9868-983a401cc05a",
      "name": "lookup_toggl_project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        780
      ]
    },
    {
      "parameters": {},
      "id": "977d43d6-86bf-4393-b61c-b84f2b89b9fa",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        660,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/65b0c1654050e485a501517d/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"direction\": \"asc\",\n      \"field\": \"sf698fb364\"\n    }\n  ],\n  \"filter\": {\n    \"operator\": \"and\",\n    \"fields\": [\n      {\n       \"field\": \"sf698fb364\",\n       \"comparison\": \"is_equal_to\",\n       \"value\": \"{{ $json.id }}\"\n      }\n    ]\n  }\n}   ",
        "options": {}
      },
      "id": "d86fb4bc-c10b-4693-870a-c6179c1f0f2a",
      "name": "Lookup SM Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bae4cdb-e441-48c8-8c0b-37d282e8bcaa",
              "name": "record_id",
              "value": "={{ $json.items[0].id }}",
              "type": "string"
            },
            {
              "id": "3ae977a8-3ab7-4570-8487-4e9a124c56fd",
              "name": "id",
              "value": "={{ $('lookup_toggl_project').item.json.id }}",
              "type": "number"
            },
            {
              "id": "416e681b-48b9-4704-9808-931bf9e9bc76",
              "name": "workspace_id",
              "value": "={{ $('lookup_toggl_project').item.json.workspace_id }}",
              "type": "number"
            },
            {
              "id": "56a887bf-c0be-4c2a-96ec-fc368836ba29",
              "name": "client_id",
              "value": "={{ $('lookup_toggl_project').item.json.client_id }}",
              "type": "number"
            },
            {
              "id": "e4a5d9e6-79b2-4425-9a0d-ee5c98320657",
              "name": "name",
              "value": "={{ $('lookup_toggl_project').item.json.name }}",
              "type": "string"
            },
            {
              "id": "2307815a-a79e-425f-a7e3-6c74d74ccea6",
              "name": "start_date",
              "value": "={{ $('lookup_toggl_project').item.json.start_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4e7d5c50-210c-415a-8270-b5dc95f68637",
      "name": "Pass 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9031587b-91d4-4f68-a03b-f102a3d730d6",
              "name": "record_id",
              "value": "={{ $json.items[0].id }}",
              "type": "string"
            },
            {
              "id": "9ba084b6-2aa1-45e3-8ef3-db751dd9eb08",
              "name": "id",
              "value": "={{ $('Filter').item.json.id }}",
              "type": "number"
            },
            {
              "id": "ec7a38f9-7fa2-41bd-91b8-7d5d621f2769",
              "name": "wid",
              "value": "={{ $('Filter').item.json.wid }}",
              "type": "number"
            },
            {
              "id": "e6c4bf93-40fb-463b-90c5-bb3c0c901561",
              "name": "archived",
              "value": "={{ $('Filter').item.json.archived }}",
              "type": "boolean"
            },
            {
              "id": "cb0fdb03-4504-4c4f-8ed8-c07ec9893db2",
              "name": "name",
              "value": "={{ $('Filter').item.json.name }}",
              "type": "string"
            },
            {
              "id": "06881ab8-0210-452d-a273-ffa0db490338",
              "name": "at",
              "value": "={{ $('Filter').item.json.at }}",
              "type": "string"
            },
            {
              "id": "55f0bf3b-884a-4018-9f4c-e6ecb2267616",
              "name": "creator_id",
              "value": "={{ $('Filter').item.json.creator_id }}",
              "type": "number"
            },
            {
              "id": "0d0b9a1f-fda1-4a20-b8cc-e2847e2ac910",
              "name": "permissions",
              "value": "={{ $('Filter').item.json.permissions }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a2dad423-56aa-4adc-b6bc-84d7a68141e7",
      "name": "Pass  3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/657c055059b633d6009e1e42/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"direction\": \"asc\",\n      \"field\": \"s9c89ee2fe\"\n    }\n  ],\n  \"filter\": {\n    \"operator\": \"and\",\n    \"fields\": [\n      {\n       \"field\": \"s9c89ee2fe\",\n       \"comparison\": \"is_equal_to\",\n       \"value\": \"{{ $json.id }}\"\n      }\n    ]\n  }\n} ",
        "options": {}
      },
      "id": "f3549b78-60dd-4788-bb34-a2733f8beffc",
      "name": "lookup SMCliient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d8ce5860-17d2-448b-a7dd-c1e76b7dd5bf",
              "leftValue": "={{ $json.stop }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "78c5530b-e830-49d6-8f15-786f09463f59",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -640,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/668ecb995b7d04577b9a4190/records/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.start }} - {{ $json.description }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"stoplight_status\": \"1\",\n  \"s88e7dacd4\": {\n    \"value\": \"in_progress\"\n  },\n  \"s7e18ac595\": \"{{ $json.billable }}\", \n  \"s388b58221\": \"{{ $json.client_name }}\",\n  \"sf78e2e067\": \"{{ $json.duration }}\",\n  \"sac94990b3\": \"{{ $json.time_entry_id }}\",\n  \"se64e66b7d\": \"{{ $json.pid }}\",\n  \"s104c552d1\": \"{{ $json.project_id }}\",\n  \"sf7335e6da\": \"{{ $json.proj_name }}\",\n  \"s462427aec\": \"{{ $json.workspace_id }}\",\n  \"sa60c2dda1\": \"{{ $json.start }}\",\n  \"sa7b8b841b\": \"{{ $json.stop }}\",\n  \"sa7a9c2140\": \"{{ $json.tags }}\",\n  \"se2afa90b2\": \"{{ $json.tag_ids }}\",\n  \"s8ce8d1b63\": \"{{ $json.duronly }}\",\n  \"s875daacbd\": \"{{ $json.at }}\",\n  \"s160017cbb\": \"{{ $json.server_deleted_at }}\",\n  \"s93e0bbcaa\": \"{{ $json.user_id }}\",\n  \"s5a8e4c60d\": \"{{ $json.uid }}\",\n  \"s4c2ea1202\": \"{{ $json.wid }}\",\n  \"s8e3e58cad\": \"{{ $json.client_id }}\",\n  \"sbca20347b\": \"{{ $json.proj_record_id }}\",\n  \"s4621e0408\": \"{{ $json.client_record_id }}\"\n}",
        "options": {}
      },
      "id": "64446c35-1116-4079-8aa4-0a6cf03cf2d7",
      "name": "CreatetimeEntryinSM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        660
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "sf7335e6da"
            },
            {
              "fieldToAggregate": "status"
            },
            {
              "fieldToAggregate": "s2e7d2b64e"
            },
            {
              "fieldToAggregate": "se6d1375cc"
            },
            {
              "fieldToAggregate": "s6e80240de"
            },
            {
              "fieldToAggregate": "s388b58221"
            },
            {
              "fieldToAggregate": "description.data.content[0].content[0].text"
            }
          ]
        },
        "options": {}
      },
      "id": "f97eca18-7c66-413b-a463-f0ecdaa43aaa",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2320,
        660
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edac2a69-922b-4ae6-b446-77135538cd30",
              "name": "id",
              "value": "={{ $('Limit').item.json.id }}",
              "type": "string"
            },
            {
              "id": "6a4f893e-935d-40e1-9d47-42f447baf48f",
              "name": "workspace_id",
              "value": "={{ $('Limit').item.json.workspace_id }}",
              "type": "string"
            },
            {
              "id": "2434288c-8868-4d9c-974e-5a4d52264ffc",
              "name": "project_id",
              "value": "={{ $('Limit').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "b3321c6c-53b4-4cab-b7cd-ac8631e015b1",
              "name": "billable",
              "value": "={{ $json.billable }}",
              "type": "boolean"
            },
            {
              "id": "d9735093-d7e2-4f68-a91c-71e6b8eb502d",
              "name": "start",
              "value": "={{ $json.start }}",
              "type": "string"
            },
            {
              "id": "22cb8c7e-cf8c-4f47-a0a8-7a545b4d2eb8",
              "name": "stop",
              "value": "={{ $json.stop }}",
              "type": "string"
            },
            {
              "id": "6f7675da-ae62-46ea-bd96-03ebc3e4c1c2",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            },
            {
              "id": "fae21602-5447-4d3c-aec7-30d0279c5f8a",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            },
            {
              "id": "06fbe186-6946-4005-8b83-e6f250972aa4",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "d56eea09-b6eb-4d31-93d7-61aef5e017b9",
              "name": "tags",
              "value": "={{ $json.tags }}",
              "type": "array"
            },
            {
              "id": "d92ac077-7fae-409b-8ab3-74448c420a5e",
              "name": "tag_ids",
              "value": "={{ $json.tag_ids }}",
              "type": "array"
            },
            {
              "id": "0c178e35-c7c7-45e2-844d-f933f2d88a43",
              "name": "duronly",
              "value": "={{ $json.duronly }}",
              "type": "boolean"
            },
            {
              "id": "5064f29c-a084-4f86-9161-ef846ab352eb",
              "name": "at",
              "value": "={{ $json.at }}",
              "type": "string"
            },
            {
              "id": "c477e6cd-f2d7-4be1-a916-cbe6664fdb95",
              "name": "server_deleted_at",
              "value": "={{ $json.server_deleted_at }}",
              "type": "string"
            },
            {
              "id": "22140dac-6e84-4075-b049-430506352e6e",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            },
            {
              "id": "ac6cee6f-5f0b-4e18-b06f-0045f27d5127",
              "name": "uid",
              "value": "={{ $json.uid }}",
              "type": "number"
            },
            {
              "id": "1ccc3d98-f005-458a-8a81-b329760126ce",
              "name": "wid",
              "value": "={{ $json.wid }}",
              "type": "number"
            },
            {
              "id": "d76eb227-9508-43ea-9443-97f4d8e5ec9d",
              "name": "pid",
              "value": "={{ $json.pid }}",
              "type": "number"
            },
            {
              "id": "d7e495dd-1775-4e45-9c5e-0a746ec1a4b9",
              "name": "permissions",
              "value": "={{ $json.permissions }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9ec3e7be-63b5-450e-954a-cbdd07ecdbd5",
      "name": "Pass 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "08ff3ca5-b4b3-485d-a7f0-995210d56231",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('lookup_toggl_project').item.json.client_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e54ee118-526e-42f9-ad98-e69cb74dc2cf",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1040,
        540
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 3,
        "query": "WITH \n  client_ref AS \n  (\n  SELECT * FROM input1\n  ),\n  project as \n  (\n  select * from input3\n  ),\n  time_entry  AS\n  (\n  select\n    client_ref.id AS client_id, \n    client_ref.name AS client_name,\n    client_ref.record_id AS client_record_id,\n    project.record_id AS proj_record_id,\n    project.id AS project_id, \n    project.name AS proj_name,\n    input2.id AS time_entry_id,\n    input2.*\n  from input2\n    INNER JOIN project ON project.id = input2.project_id\n    LEFT JOIN client_ref ON client_ref.id = project.client_id\n  )\nselect * from time_entry;"
      },
      "id": "1091ce0f-8f9a-4fb1-add2-87a302b2f374",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1800,
        660
      ]
    },
    {
      "parameters": {},
      "id": "771dc576-d073-472a-b1bd-73a5db8cc3de",
      "name": "Remove Duplicates1",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        1240,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7122793-20cb-4ed8-b704-40e43d29ed22",
              "name": "project_id",
              "value": "={{ $json.project_id }}",
              "type": "string"
            },
            {
              "id": "bfd09284-ccce-42cd-ac05-2a5ccf2c1d21",
              "name": "workspace_id",
              "value": "={{ $json.workspace_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "601b0bf6-84e7-4dae-980f-954989603bee",
      "name": "Find Project",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        780
      ]
    },
    {
      "parameters": {
        "url": "=https://api.track.toggl.com/api/v9/workspaces/{{ $json.workspace_id }}/clients",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic amFja29Ab2NvZGUzNjAuY29tOkFHWV9ucWcqenh2M2FteDNtd2U="
            }
          ]
        },
        "options": {}
      },
      "id": "69bb7345-250a-4788-a099-f15a0af240b7",
      "name": "lookup_toggl_client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "// Assuming 'AggregatedData' is the name of the node with the aggregated data\nconst aggregatedData = $node[\"Aggregate\"].json;\n\n// Prepare the message\nlet message = 'Hi Team,\\n\\nNew time entries are ready for review. Here are the details:\\n\\n';\n\nconst dates = [...new Set(aggregatedData.s2e7d2b64e)];\n\ndates.forEach(date => {\n  message += `*Date:* ${date}\\n`;\n  message += `*Client:* ${aggregatedData.s388b58221[0]}\\n`;\n   message += '\\n\\n';\n  message += '```\\n';  // Start block quote for grey frame\n  message += 'Title                      | Status               | Worked Hours  | Description\\n';\n  message += '---------------------------|----------------------|---------------|----------------------------------------------\\n';\n  \n  aggregatedData.s2e7d2b64e.forEach((entryDate, index) => {\n    if (entryDate === date) {\n      const title = aggregatedData.title[index].padEnd(27, ' ');\n      const status = aggregatedData.status[index].value.padEnd(20, ' ');\n      const hours = aggregatedData.se6d1375cc[index].toString().padEnd(13, ' ');\n      const description = aggregatedData.text[index];\n      message += `${title}| ${status} | ${hours} | ${description}\\n`;\n    }\n  });\n  message += '```\\n\\n';  // End block quote for grey frame\n});\n\nmessage += '\\nPlease review these entries at your earliest convenience.\\nThank you!\\n';\n\nreturn [\n  {\n    json: {\n      message: message\n    }\n  }\n];\n"
      },
      "id": "8ad69bab-b39e-4728-9c7d-93af5c26939f",
      "name": "Message Formatting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ad5e71ca-c0a4-4c68-b0d6-bb45705e5028",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $json.items[1].sac94990b3 }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "2c430a3c-2063-4fe5-9932-09d60f7ea718",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $json.items[1].sac94990b3 }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c3e9f1f6-5e95-48ba-a086-72ffc01587f6",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        20,
        680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a4f893e-935d-40e1-9d47-42f447baf48f",
              "name": "workspace_id",
              "value": "={{ $json.workspace_id }}",
              "type": "string"
            },
            {
              "id": "2434288c-8868-4d9c-974e-5a4d52264ffc",
              "name": "project_id",
              "value": "={{ $json.project_id }}",
              "type": "string"
            },
            {
              "id": "b3321c6c-53b4-4cab-b7cd-ac8631e015b1",
              "name": "billable",
              "value": "={{ $json.billable }}",
              "type": "boolean"
            },
            {
              "id": "d9735093-d7e2-4f68-a91c-71e6b8eb502d",
              "name": "start",
              "value": "={{ $json.start }}",
              "type": "string"
            },
            {
              "id": "22cb8c7e-cf8c-4f47-a0a8-7a545b4d2eb8",
              "name": "stop",
              "value": "={{ $json.stop }}",
              "type": "string"
            },
            {
              "id": "6f7675da-ae62-46ea-bd96-03ebc3e4c1c2",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            },
            {
              "id": "fae21602-5447-4d3c-aec7-30d0279c5f8a",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            },
            {
              "id": "06fbe186-6946-4005-8b83-e6f250972aa4",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "d56eea09-b6eb-4d31-93d7-61aef5e017b9",
              "name": "tags",
              "value": "={{ $json.tags }}",
              "type": "array"
            },
            {
              "id": "d92ac077-7fae-409b-8ab3-74448c420a5e",
              "name": "tag_ids",
              "value": "={{ $json.tag_ids }}",
              "type": "array"
            },
            {
              "id": "0c178e35-c7c7-45e2-844d-f933f2d88a43",
              "name": "duronly",
              "value": "={{ $json.duronly }}",
              "type": "boolean"
            },
            {
              "id": "5064f29c-a084-4f86-9161-ef846ab352eb",
              "name": "at",
              "value": "={{ $json.at }}",
              "type": "string"
            },
            {
              "id": "c477e6cd-f2d7-4be1-a916-cbe6664fdb95",
              "name": "server_deleted_at",
              "value": "={{ $json.server_deleted_at }}",
              "type": "string"
            },
            {
              "id": "22140dac-6e84-4075-b049-430506352e6e",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            },
            {
              "id": "ac6cee6f-5f0b-4e18-b06f-0045f27d5127",
              "name": "uid",
              "value": "={{ $json.uid }}",
              "type": "number"
            },
            {
              "id": "1ccc3d98-f005-458a-8a81-b329760126ce",
              "name": "wid",
              "value": "={{ $json.wid }}",
              "type": "number"
            },
            {
              "id": "d76eb227-9508-43ea-9443-97f4d8e5ec9d",
              "name": "pid",
              "value": "={{ $json.pid }}",
              "type": "number"
            },
            {
              "id": "d7e495dd-1775-4e45-9c5e-0a746ec1a4b9",
              "name": "permissions",
              "value": "={{ $json.permissions }}",
              "type": "string"
            },
            {
              "id": "ed38db3f-ad8a-41fb-9b9d-61d921d56e2f",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0d97c428-1fca-4bcf-b9f1-c65f8c7260df",
      "name": "Pass ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/668ecb995b7d04577b9a4190/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "options": {}
      },
      "id": "a4d89c8d-76c2-469c-b76d-a173864f00ef",
      "name": "Check if the TimeEntry exist2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1580
      ]
    },
    {
      "parameters": {},
      "id": "a288e03f-bbfc-4212-b7b3-ae4830ea50d9",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        1140
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 3,
        "query": "with \n  client_ref as\n  (\n  select * from input1\n  )\n  SELECT \n      client_ref.id as client_id, \n      client_ref.name as client_name,\n      client_ref.wid as client_wid,\n      client_ref.archived as client_archived, \n      client_ref.at as client_created_at,\n      client_ref.creator_id as client_created_id,\n      client_ref.record_id as client_record_id,\n      a.id as time_entry_id,\n      a.*,\n      b.record_id as proj_record_id,\n      b.id as project_id, \n      b.name as project_name, \n      b.*\n  FROM input2 a, \n      input3 b\n         inner join client_ref on client_ref.id = b.client_id\nWHERE a.project_id = b.id"
      },
      "id": "926c3c5a-c698-4db5-89a7-9ef2fe124c81",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3440,
        1540
      ]
    },
    {
      "parameters": {
        "content": "## Reference Toggl",
        "height": 541.0123448220287,
        "width": 1447.3936059714647
      },
      "id": "c17c99e3-e805-44a6-8e64-9fddb68dd7df",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        1340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/657c055059b633d6009e1e42/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"direction\": \"asc\",\n      \"field\": \"s9c89ee2fe\"\n    }\n  ],\n  \"filter\": {\n    \"operator\": \"and\",\n    \"fields\": [\n      {\n       \"field\": \"s9c89ee2fe\",\n       \"comparison\": \"is_equal_to\",\n       \"value\": \"{{ $json.id }}\"\n      }\n    ]\n  }\n} ",
        "options": {}
      },
      "id": "3eb9c0dd-95e7-4aea-93a8-cd1fc3e6ca3b",
      "name": "lookup SMCliient1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        1400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9031587b-91d4-4f68-a03b-f102a3d730d6",
              "name": "record_id",
              "value": "={{ $json.items[0].id }}",
              "type": "string"
            },
            {
              "id": "58c8010a-e889-4d7b-a3e8-fc2f07075f2c",
              "name": "id",
              "value": "={{ $('If3').item.json.id }}",
              "type": "number"
            },
            {
              "id": "0d28fa75-dc41-4923-8847-e18d489eac19",
              "name": "wid",
              "value": "={{ $('If3').item.json.wid }}",
              "type": "number"
            },
            {
              "id": "5b381b19-8891-46c4-a616-591f4626dc80",
              "name": "archived",
              "value": "={{ $('If3').item.json.archived }}",
              "type": "boolean"
            },
            {
              "id": "ce84e29f-987f-45aa-89b8-046c6f0d9db8",
              "name": "name",
              "value": "={{ $('If3').item.json.name }}",
              "type": "string"
            },
            {
              "id": "2b6fb491-a6f8-4dec-bfcf-10daa3563a1f",
              "name": "at",
              "value": "={{ $('If3').item.json.at }}",
              "type": "string"
            },
            {
              "id": "f99e8599-1708-4ec7-815b-0d7b8a8d0900",
              "name": "creator_id",
              "value": "={{ $('If3').item.json.creator_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "f8624d9e-6934-444e-b16c-39df157d7c11",
      "name": "Pass  ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3060,
        1400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bae4cdb-e441-48c8-8c0b-37d282e8bcaa",
              "name": "record_id",
              "value": "={{ $json.items[0].id }}",
              "type": "string"
            },
            {
              "id": "3ae977a8-3ab7-4570-8487-4e9a124c56fd",
              "name": "id",
              "value": "={{ $('Remove Duplicates2').item.json.id }}",
              "type": "number"
            },
            {
              "id": "416e681b-48b9-4704-9808-931bf9e9bc76",
              "name": "workspace_id",
              "value": "={{ $('Remove Duplicates2').item.json.workspace_id }}",
              "type": "number"
            },
            {
              "id": "56a887bf-c0be-4c2a-96ec-fc368836ba29",
              "name": "client_id",
              "value": "={{ $('Remove Duplicates2').item.json.client_id }}",
              "type": "number"
            },
            {
              "id": "09edce2a-cbdf-4e5f-bb28-03b32fecfe83",
              "name": "name",
              "value": "={{ $('Remove Duplicates2').item.json.name }}",
              "type": "string"
            },
            {
              "id": "013f122d-4b0a-49e2-b519-aed7f4d32cd9",
              "name": "is_private",
              "value": "={{ $('Remove Duplicates2').item.json.is_private }}",
              "type": "boolean"
            },
            {
              "id": "2ebe596f-05ee-415e-ac3f-8acfd599fb3f",
              "name": "active",
              "value": "={{ $('Remove Duplicates2').item.json.active }}",
              "type": "boolean"
            },
            {
              "id": "e55add26-57a0-4a5e-9a46-8a43c677f979",
              "name": "at",
              "value": "={{ $('Remove Duplicates2').item.json.at }}",
              "type": "string"
            },
            {
              "id": "4ad848f8-c95f-4341-b61b-734a6fc2dbd8",
              "name": "server_deleted_at",
              "value": "={{ $('Remove Duplicates2').item.json.server_deleted_at }}",
              "type": "string"
            },
            {
              "id": "1960a8a7-c61a-40c1-88d8-77e286c631b2",
              "name": "actual_hours",
              "value": "={{ $('Remove Duplicates2').item.json.actual_hours }}",
              "type": "number"
            },
            {
              "id": "832a6a1f-2765-45ea-97e5-1e5a605591ce",
              "name": "actual_seconds",
              "value": "={{ $('Remove Duplicates2').item.json.actual_seconds }}",
              "type": "number"
            },
            {
              "id": "f51cb229-b0d8-4604-9cb7-ca4b2bde3e03",
              "name": "status",
              "value": "={{ $('Remove Duplicates2').item.json.status }}",
              "type": "string"
            },
            {
              "id": "69a33ab3-2374-4c89-8adb-4a0e5f1e599d",
              "name": "start_date",
              "value": "={{ $('Remove Duplicates2').item.json.start_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d43bff80-ac23-42e0-94c8-d10ddf9b75c3",
      "name": "Pass 3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3220,
        1660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/65b0c1654050e485a501517d/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"direction\": \"asc\",\n      \"field\": \"sf698fb364\"\n    }\n  ],\n  \"filter\": {\n    \"operator\": \"and\",\n    \"fields\": [\n      {\n       \"field\": \"sf698fb364\",\n       \"comparison\": \"is_equal_to\",\n       \"value\": \"{{ $json.id }}\"\n      }\n    ]\n  }\n}   ",
        "options": {}
      },
      "id": "9e918d2f-c679-4e63-b0cf-6b862896b8ac",
      "name": "Lookup SM Project1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        1660
      ]
    },
    {
      "parameters": {},
      "id": "30b4b6e0-b991-4a81-8fe4-1b4526030479",
      "name": "Remove Duplicates2",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        2800,
        1660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "72a690fe-5300-4a8a-81a5-ecad768785d5",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('Remove Duplicates2').item.json.client_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "626a6f0a-47cb-47bb-a7b6-4631ada9a97c",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2580,
        1420
      ]
    },
    {
      "parameters": {
        "url": "=https://api.track.toggl.com/api/v9/workspaces/{{ $json.workspace_id }}/projects/{{ $json.project_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic amFja29Ab2NvZGUzNjAuY29tOkFHWV9ucWcqenh2M2FteDNtd2U="
            }
          ]
        },
        "options": {}
      },
      "id": "9ad00c07-de08-453e-affb-baf598774581",
      "name": "lookup_toggl_project1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        1660
      ]
    },
    {
      "parameters": {
        "url": "=https://api.track.toggl.com/api/v9/workspaces/{{ $json.workspace_id }}/clients",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic amFja29Ab2NvZGUzNjAuY29tOkFHWV9ucWcqenh2M2FteDNtd2U="
            }
          ]
        },
        "options": {}
      },
      "id": "f8cbac02-254a-4de6-ae5d-20628b774250",
      "name": "lookup_toggl_client1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        1420
      ]
    },
    {
      "parameters": {
        "content": "## SmartSuite",
        "height": 329.3037901061815,
        "width": 278.75835396816683
      },
      "id": "cc648998-8cf0-4999-af1c-725987b898e2",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3640,
        1440
      ]
    },
    {
      "parameters": {
        "channelId": "jpqr5pw497dxf8kirt96t4ar5r",
        "attachments": [],
        "otherOptions": {}
      },
      "id": "bf036f17-0bb5-463f-b115-8dc7efb4fdea",
      "name": "Mattermost1",
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        4200,
        1660
      ],
      "disabled": true
    },
    {
      "parameters": {
        "otherOptions": {}
      },
      "id": "396c01e9-8503-4c8f-9f30-e08f1cb0e935",
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        4200,
        1440
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "ee0a1fde-7c64-4f7c-91ee-9aa2cb958d45",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1920,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "98772ba4-9438-46a3-b744-2716f20bb05f",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1900,
        1540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f155f056-3d34-4d69-956a-118f5e0ddb37",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1900,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "7f20a9b4-574d-45e5-a0a0-314c88b871ef",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1660,
        1560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "15b1868f-9e9b-49ff-abeb-80034e0808c9",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        1420,
        1560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Single Item Loop\nWe process each workflow item one at a time, We first check Github to see if a file exists then we merge the Github Data and the API item so we can check if the values match in the function node `isDiffOrNew` we then set a status of `same`, `different` or `new`",
        "height": 424.04333333333386,
        "width": 629.230453137713
      },
      "id": "b8cd91bd-e6ed-4172-8612-3789d88e151a",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        740,
        1300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a894e073-e6cd-42f5-8c02-60a7f5f61518",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        800,
        1580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "df8aac16-557f-4c2f-b6c7-b6b83a15ce7e",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        1020,
        1420
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "{\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"functionCode\": `\n        // Get the items from the previous node\n        const items = $items();\n        \n        // Initialize an array to hold the content\n        let aggregatedContent = \"\";\n        \n        // Loop through each item and concatenate the content\n        items.forEach(item => {\n          aggregatedContent += item.json.content + \"\\\\n\"; // Adjust 'content' to the actual field name\n        });\n        \n        // Return a single item with the aggregated content\n        return [{ json: { aggregatedContent: aggregatedContent } }];\n        `\n      },\n      \"name\": \"Aggregate Content\",\n      \"type\": \"n8n-nodes-base.function\",\n      \"typeVersion\": 1,\n      \"position\": [\n        450,\n        300\n      ]\n    }\n  ]\n}"
      },
      "id": "958d0d5d-a0e7-4498-b627-8e4a912c237c",
      "name": "aggregate records to teams chats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3980,
        1540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/668ecb995b7d04577b9a4190/records/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.start }} - {{ $json.description }}\",\n  \"description\": \"{{ $json.name }} - {{ $json.description }}\",\n  \"stoplight_status\": \"1\",\n  \"s88e7dacd4\": {\n    \"value\": \"ready_for_review\"\n  },\n  \"s7e18ac595\": \"{{ $json.billable }}\", \n  \"s388b58221\": \"{{ $json.client_name }}\",\n  \"sf78e2e067\": \"{{ $json.duration }}\",\n  \"sac94990b3\": \"{{ $json.time_entry_id }}\",\n  \"se64e66b7d\": \"{{ $json.pid }}\",\n  \"s104c552d1\": \"{{ $json.project_id }}\",\n  \"sf7335e6da\": \"{{ $json.project_name }}\",\n  \"s462427aec\": \"{{ $json.workspace_id }}\",\n  \"saf4ce5701\": \"{{ $json.task_id }}\",\n  \"sa60c2dda1\": \"{{ $json.start }}\",\n  \"sa7b8b841b\": \"{{ $json.stop }}\",\n  \"sa7a9c2140\": \"{{ $json.tags }}\",\n  \"se2afa90b2\": \"{{ $json.tag_ids }}\",\n  \"s8ce8d1b63\": \"{{ $json.duronly }}\",\n  \"s875daacbd\": \"{{ $json.at }}\",\n  \"s160017cbb\": \"{{ $json.server_deleted_at }}\",\n  \"s93e0bbcaa\": \"{{ $json.user_id }}\",\n  \"s5a8e4c60d\": \"{{ $json.uid }}\",\n  \"s4c2ea1202\": \"{{ $json.wid }}\",\n  \"s8e3e58cad\": \"{{ $json.client_id }}\",\n  \"sbca20347b\": \"{{ $json.proj_record_id }}\",\n  \"s4621e0408\": \"{{ $json.client_record_id }}\"\n}\n ",
        "options": {}
      },
      "id": "5eb940b1-efff-4590-a713-50bf1414bbc7",
      "name": "Create timeEntry in SM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3720,
        1540
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-12T06:51:16.351Z",
      "updatedAt": "2024-08-12T06:51:16.351Z",
      "id": "H7L2DmUwMU4RDIXJ",
      "name": "projects"
    },
    {
      "createdAt": "2024-08-09T20:15:51.537Z",
      "updatedAt": "2024-08-09T20:15:51.537Z",
      "id": "Hpn0OFAE4GfFmMzq",
      "name": "smartsuite"
    },
    {
      "createdAt": "2024-08-11T09:16:17.257Z",
      "updatedAt": "2024-08-11T09:16:17.257Z",
      "id": "IZGZ9hg5E4q7jIal",
      "name": "operations"
    },
    {
      "createdAt": "2024-08-09T20:15:47.444Z",
      "updatedAt": "2024-08-09T20:15:47.444Z",
      "id": "Q6Qey3sK2BHXLdYH",
      "name": "toggl"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-08-12T07:10:55.000Z",
  "versionId": "cc581722-b542-432c-9f66-361f4ffeb00f"
}