workflows/WF001-01: Time_entry_is_created_in_Toggl_to_SM_v0.01.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "GET TimeEntries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if the TimeEntry exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET TimeEntries": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Pass 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_toggl_project": {
      "main": [
        [
          {
            "node": "Lookup SM Project",
            "type": "main",
            "index": 0
          },
          {
            "node": "lookup_toggl_client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "lookup_toggl_project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup SM Project": {
      "main": [
        [
          {
            "node": "Pass 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass  3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup SMCliient": {
      "main": [
        [
          {
            "node": "Pass  3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreatetimeEntryinSM": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass 1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the TimeEntry exist": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CreatetimeEntryinSM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "lookup SMCliient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Project": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_toggl_client": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Formatting": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Pass ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass ": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Find Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-21T12:50:19.265Z",
  "id": "t1JRiZoFp4CKfp26",
  "meta": null,
  "name": "WF001-01: Time_entry_is_created_in_Toggl_to_SM_v0.01",
  "nodes": [
    {
      "parameters": {},
      "id": "1bba7aec-ddee-4de9-8e10-ec1165f97194",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://api.track.toggl.com/api/v9/me/time_entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "c404707b-7573-44b0-9183-676cfb7b43b8",
      "name": "GET TimeEntries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        700
      ]
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "id": "788bca7e-368a-49ac-9087-7e457bcdfc9f",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -400,
        680
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07BLFDL917",
          "mode": "list",
          "cachedResultName": "toggl-time-captured"
        },
        "text": "={{ $json[\"message\"] }}",
        "otherOptions": {}
      },
      "id": "8ece741c-e009-40a3-bd85-ada706baae74",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2840,
        560
      ]
    },
    {
      "parameters": {
        "channelId": "jpqr5pw497dxf8kirt96t4ar5r",
        "message": "={{ $json[\"message\"] }}",
        "attachments": [
          {}
        ],
        "otherOptions": {
          "root_id": ""
        }
      },
      "id": "ac746982-f3bb-4298-a64b-ac548d622b8b",
      "name": "Mattermost",
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        2840,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/668ecb995b7d04577b9a4190/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "options": {}
      },
      "id": "521cac19-d75f-4aa6-8811-53fe419862e4",
      "name": "Check if the TimeEntry exist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        480
      ]
    },
    {
      "parameters": {
        "content": "## Reference Toggl",
        "height": 541.0123448220287,
        "width": 1468.4485804956025
      },
      "id": "179d1a56-c481-4d58-82b5-4f3cb17bae80",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "content": "## SmartSuite",
        "height": 329.3037901061815,
        "width": 228.1849366795202
      },
      "id": "2068cd03-397e-40ca-a6e3-dbbcad13bb1c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2020,
        580
      ]
    },
    {
      "parameters": {
        "content": "## Toggle Tiem Entries",
        "height": 263.20454016568175
      },
      "id": "70fd9dec-3dbd-49fa-a167-a153440e6643",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -920,
        620
      ]
    },
    {
      "parameters": {
        "url": "=https://api.track.toggl.com/api/v9/workspaces/{{ $json.workspace_id }}/projects/{{ $json.project_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic amFja29Ab2NvZGUzNjAuY29tOkFHWV9ucWcqenh2M2FteDNtd2U="
            }
          ]
        },
        "options": {}
      },
      "id": "87a067d4-353d-49a5-9868-983a401cc05a",
      "name": "lookup_toggl_project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        780
      ]
    },
    {
      "parameters": {},
      "id": "977d43d6-86bf-4393-b61c-b84f2b89b9fa",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        660,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/65b0c1654050e485a501517d/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"direction\": \"asc\",\n      \"field\": \"sf698fb364\"\n    }\n  ],\n  \"filter\": {\n    \"operator\": \"and\",\n    \"fields\": [\n      {\n       \"field\": \"sf698fb364\",\n       \"comparison\": \"is_equal_to\",\n       \"value\": \"{{ $json.id }}\"\n      }\n    ]\n  }\n}   ",
        "options": {}
      },
      "id": "d86fb4bc-c10b-4693-870a-c6179c1f0f2a",
      "name": "Lookup SM Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bae4cdb-e441-48c8-8c0b-37d282e8bcaa",
              "name": "record_id",
              "value": "={{ $json.items[0].id }}",
              "type": "string"
            },
            {
              "id": "3ae977a8-3ab7-4570-8487-4e9a124c56fd",
              "name": "id",
              "value": "={{ $('lookup_toggl_project').item.json.id }}",
              "type": "number"
            },
            {
              "id": "416e681b-48b9-4704-9808-931bf9e9bc76",
              "name": "workspace_id",
              "value": "={{ $('lookup_toggl_project').item.json.workspace_id }}",
              "type": "number"
            },
            {
              "id": "56a887bf-c0be-4c2a-96ec-fc368836ba29",
              "name": "client_id",
              "value": "={{ $('lookup_toggl_project').item.json.client_id }}",
              "type": "number"
            },
            {
              "id": "e4a5d9e6-79b2-4425-9a0d-ee5c98320657",
              "name": "name",
              "value": "={{ $('lookup_toggl_project').item.json.name }}",
              "type": "string"
            },
            {
              "id": "2307815a-a79e-425f-a7e3-6c74d74ccea6",
              "name": "start_date",
              "value": "={{ $('lookup_toggl_project').item.json.start_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4e7d5c50-210c-415a-8270-b5dc95f68637",
      "name": "Pass 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9031587b-91d4-4f68-a03b-f102a3d730d6",
              "name": "record_id",
              "value": "={{ $json.items[0].id }}",
              "type": "string"
            },
            {
              "id": "9ba084b6-2aa1-45e3-8ef3-db751dd9eb08",
              "name": "id",
              "value": "={{ $('Filter').item.json.id }}",
              "type": "number"
            },
            {
              "id": "ec7a38f9-7fa2-41bd-91b8-7d5d621f2769",
              "name": "wid",
              "value": "={{ $('Filter').item.json.wid }}",
              "type": "number"
            },
            {
              "id": "e6c4bf93-40fb-463b-90c5-bb3c0c901561",
              "name": "archived",
              "value": "={{ $('Filter').item.json.archived }}",
              "type": "boolean"
            },
            {
              "id": "cb0fdb03-4504-4c4f-8ed8-c07ec9893db2",
              "name": "name",
              "value": "={{ $('Filter').item.json.name }}",
              "type": "string"
            },
            {
              "id": "06881ab8-0210-452d-a273-ffa0db490338",
              "name": "at",
              "value": "={{ $('Filter').item.json.at }}",
              "type": "string"
            },
            {
              "id": "55f0bf3b-884a-4018-9f4c-e6ecb2267616",
              "name": "creator_id",
              "value": "={{ $('Filter').item.json.creator_id }}",
              "type": "number"
            },
            {
              "id": "0d0b9a1f-fda1-4a20-b8cc-e2847e2ac910",
              "name": "permissions",
              "value": "={{ $('Filter').item.json.permissions }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a2dad423-56aa-4adc-b6bc-84d7a68141e7",
      "name": "Pass  3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/657c055059b633d6009e1e42/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"direction\": \"asc\",\n      \"field\": \"s9c89ee2fe\"\n    }\n  ],\n  \"filter\": {\n    \"operator\": \"and\",\n    \"fields\": [\n      {\n       \"field\": \"s9c89ee2fe\",\n       \"comparison\": \"is_equal_to\",\n       \"value\": \"{{ $json.id }}\"\n      }\n    ]\n  }\n} ",
        "options": {}
      },
      "id": "f3549b78-60dd-4788-bb34-a2733f8beffc",
      "name": "lookup SMCliient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d8ce5860-17d2-448b-a7dd-c1e76b7dd5bf",
              "leftValue": "={{ $json.stop }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "78c5530b-e830-49d6-8f15-786f09463f59",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -640,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/668ecb995b7d04577b9a4190/records/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.start }} - {{ $json.description }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"stoplight_status\": \"1\",\n  \"s88e7dacd4\": {\n    \"value\": \"in_progress\"\n  },\n  \"s7e18ac595\": \"{{ $json.billable }}\", \n  \"s388b58221\": \"{{ $json.client_name }}\",\n  \"sf78e2e067\": \"{{ $json.duration }}\",\n  \"sac94990b3\": \"{{ $json.time_entry_id }}\",\n  \"se64e66b7d\": \"{{ $json.pid }}\",\n  \"s104c552d1\": \"{{ $json.project_id }}\",\n  \"sf7335e6da\": \"{{ $json.proj_name }}\",\n  \"s462427aec\": \"{{ $json.workspace_id }}\",\n  \"sa60c2dda1\": \"{{ $json.start }}\",\n  \"sa7b8b841b\": \"{{ $json.stop }}\",\n  \"sa7a9c2140\": \"{{ $json.tags }}\",\n  \"se2afa90b2\": \"{{ $json.tag_ids }}\",\n  \"s8ce8d1b63\": \"{{ $json.duronly }}\",\n  \"s875daacbd\": \"{{ $json.at }}\",\n  \"s160017cbb\": \"{{ $json.server_deleted_at }}\",\n  \"s93e0bbcaa\": \"{{ $json.user_id }}\",\n  \"s5a8e4c60d\": \"{{ $json.uid }}\",\n  \"s4c2ea1202\": \"{{ $json.wid }}\",\n  \"s8e3e58cad\": \"{{ $json.client_id }}\",\n  \"sbca20347b\": \"{{ $json.proj_record_id }}\",\n  \"s4621e0408\": \"{{ $json.client_record_id }}\"\n}",
        "options": {}
      },
      "id": "64446c35-1116-4079-8aa4-0a6cf03cf2d7",
      "name": "CreatetimeEntryinSM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        660
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "sf7335e6da"
            },
            {
              "fieldToAggregate": "status"
            },
            {
              "fieldToAggregate": "s2e7d2b64e"
            },
            {
              "fieldToAggregate": "se6d1375cc"
            },
            {
              "fieldToAggregate": "s6e80240de"
            },
            {
              "fieldToAggregate": "s388b58221"
            },
            {
              "fieldToAggregate": "description.data.content[0].content[0].text"
            }
          ]
        },
        "options": {}
      },
      "id": "f97eca18-7c66-413b-a463-f0ecdaa43aaa",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2320,
        660
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edac2a69-922b-4ae6-b446-77135538cd30",
              "name": "id",
              "value": "={{ $('Limit').item.json.id }}",
              "type": "string"
            },
            {
              "id": "6a4f893e-935d-40e1-9d47-42f447baf48f",
              "name": "workspace_id",
              "value": "={{ $('Limit').item.json.workspace_id }}",
              "type": "string"
            },
            {
              "id": "2434288c-8868-4d9c-974e-5a4d52264ffc",
              "name": "project_id",
              "value": "={{ $('Limit').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "b3321c6c-53b4-4cab-b7cd-ac8631e015b1",
              "name": "billable",
              "value": "={{ $json.billable }}",
              "type": "boolean"
            },
            {
              "id": "d9735093-d7e2-4f68-a91c-71e6b8eb502d",
              "name": "start",
              "value": "={{ $json.start }}",
              "type": "string"
            },
            {
              "id": "22cb8c7e-cf8c-4f47-a0a8-7a545b4d2eb8",
              "name": "stop",
              "value": "={{ $json.stop }}",
              "type": "string"
            },
            {
              "id": "6f7675da-ae62-46ea-bd96-03ebc3e4c1c2",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            },
            {
              "id": "fae21602-5447-4d3c-aec7-30d0279c5f8a",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            },
            {
              "id": "06fbe186-6946-4005-8b83-e6f250972aa4",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "d56eea09-b6eb-4d31-93d7-61aef5e017b9",
              "name": "tags",
              "value": "={{ $json.tags }}",
              "type": "array"
            },
            {
              "id": "d92ac077-7fae-409b-8ab3-74448c420a5e",
              "name": "tag_ids",
              "value": "={{ $json.tag_ids }}",
              "type": "array"
            },
            {
              "id": "0c178e35-c7c7-45e2-844d-f933f2d88a43",
              "name": "duronly",
              "value": "={{ $json.duronly }}",
              "type": "boolean"
            },
            {
              "id": "5064f29c-a084-4f86-9161-ef846ab352eb",
              "name": "at",
              "value": "={{ $json.at }}",
              "type": "string"
            },
            {
              "id": "c477e6cd-f2d7-4be1-a916-cbe6664fdb95",
              "name": "server_deleted_at",
              "value": "={{ $json.server_deleted_at }}",
              "type": "string"
            },
            {
              "id": "22140dac-6e84-4075-b049-430506352e6e",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            },
            {
              "id": "ac6cee6f-5f0b-4e18-b06f-0045f27d5127",
              "name": "uid",
              "value": "={{ $json.uid }}",
              "type": "number"
            },
            {
              "id": "1ccc3d98-f005-458a-8a81-b329760126ce",
              "name": "wid",
              "value": "={{ $json.wid }}",
              "type": "number"
            },
            {
              "id": "d76eb227-9508-43ea-9443-97f4d8e5ec9d",
              "name": "pid",
              "value": "={{ $json.pid }}",
              "type": "number"
            },
            {
              "id": "d7e495dd-1775-4e45-9c5e-0a746ec1a4b9",
              "name": "permissions",
              "value": "={{ $json.permissions }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9ec3e7be-63b5-450e-954a-cbdd07ecdbd5",
      "name": "Pass 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "08ff3ca5-b4b3-485d-a7f0-995210d56231",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('lookup_toggl_project').item.json.client_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e54ee118-526e-42f9-ad98-e69cb74dc2cf",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1040,
        540
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 3,
        "query": "WITH \n  client_ref AS \n  (\n  SELECT * FROM input1\n  ),\n  project as \n  (\n  select * from input3\n  ),\n  time_entry  AS\n  (\n  select\n    client_ref.id AS client_id, \n    client_ref.name AS client_name,\n    client_ref.record_id AS client_record_id,\n    project.record_id AS proj_record_id,\n    project.id AS project_id, \n    project.name AS proj_name,\n    input2.id AS time_entry_id,\n    input2.*\n  from input2\n    INNER JOIN project ON project.id = input2.project_id\n    LEFT JOIN client_ref ON client_ref.id = project.client_id\n  )\nselect * from time_entry;"
      },
      "id": "1091ce0f-8f9a-4fb1-add2-87a302b2f374",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1800,
        660
      ]
    },
    {
      "parameters": {},
      "id": "771dc576-d073-472a-b1bd-73a5db8cc3de",
      "name": "Remove Duplicates1",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        1240,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7122793-20cb-4ed8-b704-40e43d29ed22",
              "name": "project_id",
              "value": "={{ $json.project_id }}",
              "type": "string"
            },
            {
              "id": "bfd09284-ccce-42cd-ac05-2a5ccf2c1d21",
              "name": "workspace_id",
              "value": "={{ $json.workspace_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "601b0bf6-84e7-4dae-980f-954989603bee",
      "name": "Find Project",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        780
      ]
    },
    {
      "parameters": {
        "url": "=https://api.track.toggl.com/api/v9/workspaces/{{ $json.workspace_id }}/clients",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic amFja29Ab2NvZGUzNjAuY29tOkFHWV9ucWcqenh2M2FteDNtd2U="
            }
          ]
        },
        "options": {}
      },
      "id": "69bb7345-250a-4788-a099-f15a0af240b7",
      "name": "lookup_toggl_client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "// Assuming 'AggregatedData' is the name of the node with the aggregated data\nconst aggregatedData = $node[\"Aggregate\"].json;\n\n// Prepare the message\nlet message = 'Hi Team,\\n\\nNew time entries are ready for review. Here are the details:\\n\\n';\n\nconst dates = [...new Set(aggregatedData.s2e7d2b64e)];\n\ndates.forEach(date => {\n  message += `*Date:* ${date}\\n`;\n  message += `*Client:* ${aggregatedData.s388b58221[0]}\\n`;\n   message += '\\n\\n';\n  message += '```\\n';  // Start block quote for grey frame\n  message += 'Title                      | Status               | Worked Hours  | Description\\n';\n  message += '---------------------------|----------------------|---------------|----------------------------------------------\\n';\n  \n  aggregatedData.s2e7d2b64e.forEach((entryDate, index) => {\n    if (entryDate === date) {\n      const title = aggregatedData.title[index].padEnd(27, ' ');\n      const status = aggregatedData.status[index].value.padEnd(20, ' ');\n      const hours = aggregatedData.se6d1375cc[index].toString().padEnd(13, ' ');\n      const description = aggregatedData.text[index];\n      message += `${title}| ${status} | ${hours} | ${description}\\n`;\n    }\n  });\n  message += '```\\n\\n';  // End block quote for grey frame\n});\n\nmessage += '\\nPlease review these entries at your earliest convenience.\\nThank you!\\n';\n\nreturn [\n  {\n    json: {\n      message: message\n    }\n  }\n];\n"
      },
      "id": "8ad69bab-b39e-4728-9c7d-93af5c26939f",
      "name": "Message Formatting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ad5e71ca-c0a4-4c68-b0d6-bb45705e5028",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $json.items[1].sac94990b3 }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "2c430a3c-2063-4fe5-9932-09d60f7ea718",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $json.items[1].sac94990b3 }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c3e9f1f6-5e95-48ba-a086-72ffc01587f6",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        20,
        680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a4f893e-935d-40e1-9d47-42f447baf48f",
              "name": "workspace_id",
              "value": "={{ $json.workspace_id }}",
              "type": "string"
            },
            {
              "id": "2434288c-8868-4d9c-974e-5a4d52264ffc",
              "name": "project_id",
              "value": "={{ $json.project_id }}",
              "type": "string"
            },
            {
              "id": "b3321c6c-53b4-4cab-b7cd-ac8631e015b1",
              "name": "billable",
              "value": "={{ $json.billable }}",
              "type": "boolean"
            },
            {
              "id": "d9735093-d7e2-4f68-a91c-71e6b8eb502d",
              "name": "start",
              "value": "={{ $json.start }}",
              "type": "string"
            },
            {
              "id": "22cb8c7e-cf8c-4f47-a0a8-7a545b4d2eb8",
              "name": "stop",
              "value": "={{ $json.stop }}",
              "type": "string"
            },
            {
              "id": "6f7675da-ae62-46ea-bd96-03ebc3e4c1c2",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            },
            {
              "id": "fae21602-5447-4d3c-aec7-30d0279c5f8a",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            },
            {
              "id": "06fbe186-6946-4005-8b83-e6f250972aa4",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "d56eea09-b6eb-4d31-93d7-61aef5e017b9",
              "name": "tags",
              "value": "={{ $json.tags }}",
              "type": "array"
            },
            {
              "id": "d92ac077-7fae-409b-8ab3-74448c420a5e",
              "name": "tag_ids",
              "value": "={{ $json.tag_ids }}",
              "type": "array"
            },
            {
              "id": "0c178e35-c7c7-45e2-844d-f933f2d88a43",
              "name": "duronly",
              "value": "={{ $json.duronly }}",
              "type": "boolean"
            },
            {
              "id": "5064f29c-a084-4f86-9161-ef846ab352eb",
              "name": "at",
              "value": "={{ $json.at }}",
              "type": "string"
            },
            {
              "id": "c477e6cd-f2d7-4be1-a916-cbe6664fdb95",
              "name": "server_deleted_at",
              "value": "={{ $json.server_deleted_at }}",
              "type": "string"
            },
            {
              "id": "22140dac-6e84-4075-b049-430506352e6e",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            },
            {
              "id": "ac6cee6f-5f0b-4e18-b06f-0045f27d5127",
              "name": "uid",
              "value": "={{ $json.uid }}",
              "type": "number"
            },
            {
              "id": "1ccc3d98-f005-458a-8a81-b329760126ce",
              "name": "wid",
              "value": "={{ $json.wid }}",
              "type": "number"
            },
            {
              "id": "d76eb227-9508-43ea-9443-97f4d8e5ec9d",
              "name": "pid",
              "value": "={{ $json.pid }}",
              "type": "number"
            },
            {
              "id": "d7e495dd-1775-4e45-9c5e-0a746ec1a4b9",
              "name": "permissions",
              "value": "={{ $json.permissions }}",
              "type": "string"
            },
            {
              "id": "ed38db3f-ad8a-41fb-9b9d-61d921d56e2f",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0d97c428-1fca-4bcf-b9f1-c65f8c7260df",
      "name": "Pass ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        660
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-22T07:41:27.000Z",
  "versionId": "ca1eb00c-43db-4d2f-8b46-5e6cd2c53012"
}