workflows/WF101: Restore backed up workflows from GitHub to n8n 2.json
{
  "active": false,
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "GitHub - get all files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge globals and files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set name and content": {
      "main": [
        [
          {
            "node": "Merge Github and n8n workflows - Keep only non existing workflows based on the name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n - get all workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - get all files": {
      "main": [
        [
          {
            "node": "Merge globals and files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - get each file": {
      "main": [
        [
          {
            "node": "Set name and content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge globals and files": {
      "main": [
        [
          {
            "node": "GitHub - get each file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n - get all workflows": {
      "main": [
        [
          {
            "node": "Set n8n existing workflows names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If workflow already exists": {
      "main": [
        [
          {
            "node": "n8n - create workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow name already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set n8n existing workflows names": {
      "main": [
        [
          {
            "node": "Merge Github and n8n workflows - Keep only non existing workflows based on the name",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Github and n8n workflows - Keep only non existing workflows based on the name": {
      "main": [
        [
          {
            "node": "If workflow already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n - create workflow": {
      "main": [
        []
      ]
    },
    "Workflow name already exists": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-08-07T18:48:32.021Z",
  "id": "FNBLlXfxbMjSucx9",
  "meta": {
    "templateId": "2289",
    "templateCredsSetupCompleted": true
  },
  "name": "WF101: Restore backed up workflows from GitHub to n8n 2",
  "nodes": [
    {
      "parameters": {},
      "id": "540d147a-8185-4f3e-b2f4-522a19eb6b10",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        820,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "jackovw82"
            },
            {
              "name": "repo.name",
              "value": "n8n-backups"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "7040674c-57b4-453d-acd4-69cbeff64180",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        1020,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow - Restore Backups\nThis workflow will restore backed-up workflows from Github. \nIt is launch by testing the workflow\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder where your workflows are saved, within the repository.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - n8n-io\nrepo.name - n8n-backups\nrepo.path - workflows",
        "height": 464.79920462713443,
        "width": 389.78906250000017,
        "color": 2
      },
      "id": "2b3a2856-4024-4fb0-b068-6bace0e6592c",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ba2d3355-df53-43e2-a4b2-2e031b71d687",
      "name": "Workflow name already exists",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2700,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "063d51c7-0b7a-48a4-82b3-76b370fc4265",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('Merge Github and n8n workflows - Keep only non existing workflows based on the name').item.json.name }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "f012be7a-fb56-4a92-b2e5-e5ec316624e8",
      "name": "If workflow already exists",
      "type": "n8n-nodes-base.if",
      "position": [
        2380,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6be8c184-8fb7-47a9-ad42-d0dc3db1eea4",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1d698f2-0ccf-4865-9ecd-9e10e725d12d",
      "name": "Set n8n existing workflows names",
      "type": "n8n-nodes-base.set",
      "position": [
        1840,
        520
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}"
      },
      "id": "d9c58650-ca2d-47c8-a887-59407fa70e1d",
      "name": "GitHub - get all files",
      "type": "n8n-nodes-base.github",
      "position": [
        1240,
        180
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "7txefx36DPZl9bxI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "7bff36b1-d526-402b-bff8-7ce2af050e2d",
      "name": "n8n - get all workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1020,
        520
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "QyYOrTgwNcy7NvMO",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "277f6400-409a-4ba0-8ad7-1241768b669a",
      "name": "GitHub - get each file",
      "type": "n8n-nodes-base.github",
      "position": [
        1660,
        300
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "7txefx36DPZl9bxI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "714b0cfd-9f06-4e2f-b73d-30ef39dc40e3",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content.base64Decode() }}"
            },
            {
              "id": "6f48ed58-d55a-4ee4-8cf2-373941aaa341",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name.replace(\".json\", \"\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b59f5e23-729a-41fb-be4b-1aebc573393b",
      "name": "Set name and content",
      "type": "n8n-nodes-base.set",
      "position": [
        1860,
        300
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $('Set name and content').item.json.content }}",
        "requestOptions": {}
      },
      "id": "6f642a8c-9997-42b2-b9d7-3c1f02e0e26a",
      "name": "n8n - create workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2700,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "QyYOrTgwNcy7NvMO",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get all Github files\n1. List all the files from your repository\n2. Get each file as a JSON. \n3. The content, retrieved as base64, is converted in the \"Set Name and Content\" node\n\n\nThe \"Set Name and Content\" node creates a list of workflows with name and content, in order to compare it with the existing n8n workflows in the workspace.",
        "height": 478.9952882299376,
        "width": 861.4145066375679,
        "color": 2
      },
      "id": "b4ce8bdb-8c76-4c10-bf48-3664ec2f924b",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1160,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "5ff560b9-8c43-401c-869f-2b4a2e13cacc",
      "name": "Merge globals and files",
      "type": "n8n-nodes-base.merge",
      "position": [
        1460,
        300
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "name"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "id": "008d21d9-007b-44da-8d1a-bd334ba54d61",
      "name": "Merge Github and n8n workflows - Keep only non existing workflows based on the name",
      "type": "n8n-nodes-base.merge",
      "position": [
        2160,
        400
      ],
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Merge Github and n8n workflows\n\nHere, we only keep the workflows from Github that doesn't already exist in n8n workspace, based on the name",
        "height": 196.65095879641083,
        "width": 260.44696745223945,
        "color": 2
      },
      "id": "c7ffe214-1d7b-4f4f-87c1-36d9cb8e43a9",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create n8n workflow\n\nCreate the n8n workflow using:\n- Content saved in Github\n- Name of the file in Github\n\n\nIf the workflow name already exist in n8n, then the workflow is not created - to avoid duplicates.",
        "height": 237.66186698228626,
        "width": 344.0461264465236,
        "color": 2
      },
      "id": "3d84fd1c-c49b-4db0-951a-e38d50dae47b",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2560,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get existing n8n workflows\n\n1. Get all workflows\n2. Prepare a list of workflows in order to compare it with the workflows saved in the Github repo.",
        "height": 182.45487519360773,
        "width": 378.7476641422645,
        "color": 2
      },
      "id": "144a0b2e-d7b2-443d-91a5-96c09ef16b8e",
      "name": "Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1240,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "otherOptions": {}
      },
      "id": "efdb10bf-5bcf-43c7-8e99-5cd7a0b3f090",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2960,
        200
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "x77Xb6YhugsdNMWc",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "otherOptions": {}
      },
      "id": "2c9b68e7-a886-4af2-be90-56d3f6709f79",
      "name": "Slack1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2960,
        500
      ]
    },
    {
      "parameters": {
        "channelId": "ck1mkqxgk7b5ujcx1m9g6faoza",
        "attachments": [],
        "otherOptions": {}
      },
      "id": "c3f7782e-0620-46d0-acbd-942eb8a6fb65",
      "name": "Mattermost",
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        2960,
        340
      ],
      "credentials": {
        "mattermostApi": {
          "id": "VGOFEEFurY7VTUJP",
          "name": "Mattermost account"
        }
      }
    },
    {
      "parameters": {
        "channelId": "ck1mkqxgk7b5ujcx1m9g6faoza",
        "message": "Hi Team,\n\nI hope everyone is doing well!\n\nI wanted to provide an update on our workflow for restored backups:\nRestored Backups:\nIf a backup has been restored, please ensure to verify all elements and functionality before proceeding with any further updates or changes.\nDouble-check that all data, design elements, and integrations are intact and functioning as expected.\n\nIf you encounter any issues or discrepancies, please report them immediately in the #webflow-help channel.\n\nThank you for your attention and diligence in maintaining the quality and integrity of our projects. \nIf you have any questions or need further assistance, don't hesitate to reach out.",
        "attachments": [],
        "otherOptions": {}
      },
      "id": "36e87e3f-ac2c-4c71-ae94-6874b8dbea8d",
      "name": "Mattermost1",
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        2960,
        660
      ],
      "credentials": {
        "mattermostApi": {
          "id": "VGOFEEFurY7VTUJP",
          "name": "Mattermost account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-07T19:00:14.000Z",
  "versionId": "5f6fd14e-a42b-40fb-b4a9-fb19c4d6996a"
}