workflows/WF2003-5: Update time-tracking projects based on Syncro status changes.json
{
  "active": false,
  "connections": {
    "IF1": {
      "main": [
        [
          {
            "node": "Clockify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clockify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clockify": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clockify1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-10T09:19:29.591Z",
  "id": "bJpnDi42UoKZuImI",
  "meta": {
    "templateId": "1492"
  },
  "name": "WF2003-5: Update time-tracking projects based on Syncro status changes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4500d16f-5d43-4ae7-887e-376eecaeec17",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        380,
        240
      ],
      "webhookId": "3300d16f-5d43-4ae7-887e-376eecaeec17",
      "typeVersion": 1,
      "id": "d17f31d7-e002-405d-b316-d1aa5c827654"
    },
    {
      "parameters": {
        "operation": "getAll",
        "workspaceId": "xxx",
        "returnAll": true,
        "additionalFields": {
          "archived": true,
          "name": "=Ticket {{$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"number\"]}} - {{$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"customer_business_then_name\"]}} [{{$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"id\"]}}]"
        }
      },
      "name": "Clockify",
      "type": "n8n-nodes-base.clockify",
      "position": [
        780,
        240
      ],
      "typeVersion": 1,
      "id": "9f7fb0f1-657f-4226-9bda-2445610c9786"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PUT",
        "url": "=https://api.clockify.me/api/v1/workspaces/{{$node[\"Clockify\"].parameter[\"workspaceId\"]}}/projects/{{$json[\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "archived",
              "value": "false"
            },
            {
              "name": "isPublic",
              "value": "true"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": []
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        950,
        240
      ],
      "typeVersion": 1,
      "id": "a1b25cba-c8c3-4826-8b45-69c9e4ba6b4b"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"attributes\"][\"status\"]}}",
              "operation": "notEqual",
              "value2": "Resolved"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "position": [
        550,
        240
      ],
      "typeVersion": 1,
      "id": "71dbd87c-4b76-4531-9005-08bd32c29b6b"
    },
    {
      "parameters": {
        "operation": "getAll",
        "workspaceId": "xxx",
        "returnAll": true,
        "additionalFields": {
          "archived": false,
          "name": "=Ticket {{$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"number\"]}} - {{$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"customer_business_then_name\"]}} [{{$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"id\"]}}]"
        }
      },
      "name": "Clockify1",
      "type": "n8n-nodes-base.clockify",
      "position": [
        780,
        470
      ],
      "typeVersion": 1,
      "id": "162bdc0c-ede2-4881-8c9b-49de001620c0"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PUT",
        "url": "=https://api.clockify.me/api/v1/workspaces/{{$node[\"Clockify1\"].parameter[\"workspaceId\"]}}/projects/{{$node[\"Clockify1\"].json[\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "archived",
              "value": "true"
            },
            {
              "name": "isPublic",
              "value": "true"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": []
        }
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        950,
        470
      ],
      "typeVersion": 1,
      "id": "f38dfd39-adfa-484f-9995-2d2ea0f563c6"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-08-12T17:02:17.000Z",
  "versionId": "38769da3-3160-48da-80a0-1a45da5d3641"
}